<div class="c-superadmin">
  
<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
      Outils d'administration
  </h1>
</header>

<div class="grid-flex">
  <div class="grid-col">
    <div class="c-superadmin-card c-superadmin-users">
      <h2>Utilisateurs</h2>
      <ul>
        <li>
          <%=link_to "Utilisateurs Admin", admin_users_path %>
        </li>
        <li>
          <%=link_to "Utilisateurs API", admin_api_users_path %>
        </li>
      </ul>
      
    </div>
  </div>
  <div class="grid-col">
    <div class="c-superadmin-card c-superadmin-docs">
      <h2>Documentation</h2>
      <ul>
        <li>
          <%=link_to "Charte éditoriale",  admin_convention_path(Convention.first) %>
        </li>
        <li>
          <%=link_to "Extraction des aides au format CSV", "/admin/aids/export.csv?locale=fr" %>
        </li>
        <li>
          <%=link_to "Liste des variables", admin_variables_path %>
        </li>      
        <li>
          <%=link_to "Explications des règles", admin_explicitations_path %>
        </li>
        <li>
          <%=link_to "Documentation API", "/apidocs", target: "_blank" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-col"></div>
</div>
<div class="grid-flex">
  <div class="grid-col">
    <div class="c-superadmin-card c-superadmin-stats">
      <h2>Statistiques</h2>
      <ul>
        <li>
          <%=link_to "Voir les statistiques", stats_index_path %>
        </li>
        <li>
          <%=link_to "Stratégies de suivi", admin_tracings_path %>
        </li>
        <li>
          <%=link_to "Liste des suivis", admin_traces_path %>
        </li>      
      </ul>
    </div>
  </div>
  <div class="grid-col">
    <div class="c-superadmin-card c-superadmin-actions">
      <h2>Actions</h2>
      <ul>
        <li>
          <%=link_to "Vidage manuel du cache", admin_get_cache_path %>
        </li>
        <li>
          <%=link_to "Vérification des règles", admin_rule_checks_path %>
        </li>
        <li>
          <%=link_to "Création de ZRR", admin_get_zrr_path %>
        </li>
        <li>
          <%=link_to "Création de critère géographique", admin_get_geo_path %>
        </li>
      </ul>      
    </div>
  </div>
  <div class="grid-col"></div>

 </div>

</div>
