<div style="margin-top: 2rem;">
Vous pouvez transférer la description des variables vers la partie "éléments" ici

<%= form_with url: admin_post_transfer_descr_path, local: false do |form| %>
  <%= form.submit 'Transférer'%>
<% end %>
<%= form_with url: admin_reverse_transfer_descr_path, local: false do |form| %>
  <%= form.submit 'Renverser'%>
<% end %>
<%= form_with url: admin_delete_qpv_records_path, local: false do |form| %>
  <%= form.submit 'suppr qpv'%>
<% end %>
</div>

