Vous pouvez générer les données de recette en cliquant ici

<%= form_with url: admin_post_r7_data_path, local: false, id: 'admin_admin_post_r7_data_form' do |form| %>
  <%= form.submit 'générer'%>
<% end %>

<div id="staging-cards">
</div>

<script> 
  function defer1(method) { if (window.jQuery) { admin_load_r7_page(); } else { setTimeout(function() { defer1(method) }, 50); } }



  function admin_load_r7_page() {

    $(document).on("ajax:error", function(e){
      var targeted = $(e.target).attr("id").toString()
      var target_object = _.textAfter(targeted, "_")
      var targeted_action = _.textBefore(targeted, "_")
      console.log(target_object + " global ajax error !!! " + targeted_action)
      if (targeted_action === "update") {
        $("#" + target_object).append("<div class='" + target_object + "_update_expl'>update no</div>")
      } else if (targeted_action === "show") {
        $("#" + target_object).append("<div class='" + target_object + "_show_expl'>show no</div>")
      } else if (targeted_action === "create") {
        $("#" + target_object).append("<div class='" + target_object + "_create_expl'>create no</div>")
      } else if (targeted_action === "index") {
        $("#" + target_object).append("<div class='" + target_object + "_index_expl'>index no</div>")
      } else if (targeted_action === "edit") {
        $("#" + target_object).append("<div class='" + target_object + "_edit_expl'>edit no</div>")
      } else if (targeted_action === "new") {
        $("#" + target_object).append("<div class='" + target_object + "_new_expl'>new no</div>")
      } else if (targeted_action === "delete") {
        $.get({
          url: "/admin/get_r7_info?target_object=" + target_object + "&target_id=" + $(e.target).attr("data-id"),
          success: function(k) {
            if (_.isNotBlank(k.actual_object)) {
              $("#" + target_object).append("<div class='" + target_object + "_delete_expl'> delete no</div>")
            } else {
              $("#" + target_object).append("<div class='" + target_object + "_delete_expl'> delete yes</div>")
            }
          },
        })        
      }
    })
    $(document).on("ajax:success", function(e){
      var targeted = $(e.target).attr("id").toString()
      var target_object = _.textAfter(targeted, "_")
      var targeted_action = _.textBefore(targeted, "_")
      console.log(target_object + " global ajax success !!! " + targeted)
      if (targeted_action === "update") {
        $("#" + target_object).append("<div class='" + target_object + "_update_expl'>update yes</div>")
      } else if (targeted_action === "show") {
        $("#" + target_object).append("<div class='" + target_object + "_show_expl'>show yes</div>")
      } else if (targeted_action === "create") {
        $("#" + target_object).append("<div class='" + target_object + "_create_expl'>create yes</div>")
      } else if (targeted_action === "index") {
        $("#" + target_object).append("<div class='" + target_object + "_index_expl'>index yes</div>")
      } else if (targeted_action === "edit") {
        $("#" + target_object).append("<div class='" + target_object + "_edit_expl'>edit yes</div>")
      } else if (targeted_action === "new") {
        $("#" + target_object).append("<div class='" + target_object + "_new_expl'>new yes</div>")
      }
    })


    $("#admin_admin_post_r7_data_form").on("ajax:success", 
      function(event, data) { 
      console.log("success!!")

        var admin_rule_path = "<%= admin_rule_path("XXX") %>";
        var admin_edit_rule_path = "<%= edit_admin_rule_path("XXX") %>";
        $("#staging-cards").append('<div id="rule" class="staging-card"><div>rule ' + data.rule_id + '</div><div><a id="delete_rule" data-id="' + data.rule_id + '" class="text-color-red" rel="nofollow" data-method="delete" data-remote="true" href="' + admin_rule_path.replace("XXX", data.rule_id) + '">Supprimer</a></div></div>')
        $("#rule").append('<div><form id="update_rule" action="/admin/rules/' + data.rule_id + '" accept-charset="UTF-8" method="post" data-remote="true"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="<%=  form_authenticity_token%>"><textarea name="rule[name]"></textarea><input type="submit" value="mettre à jour" class="submit submit-edition"></form></div>')
        $("#rule").append('<div><form id="create_rule" action="/admin/rules" accept-charset="UTF-8" method="post" data-remote="true"><input type="hidden" name="_method" value="post"><input type="hidden" name="authenticity_token" value="<%=  form_authenticity_token%>"><textarea name="rule[name]">' + (new Date().getTime()) + '</textarea><input type="submit" value="créer" class="submit submit-creation"></form></div>')
        $("#rule").append('<div><a id="show_rule" href=' + admin_rule_path.replace("XXX", data.rule_id) + ' data-remote="true">Voir détail</a></div>')
        $("#rule").append('<div><a id="index_rule" href="/admin/rules/" data-remote="true">Voir liste</a></div>')
        $("#rule").append('<div><a id="edit_rule" href=' + admin_edit_rule_path.replace("XXX", data.rule_id) + ' data-remote="true">Voir édition</a></div>')
        $("#rule").append('<div><a id="new_rule" href="/admin/rules/new" data-remote="true">Voir création</a></div>')

        var admin_contract_type_path = "<%= admin_contract_type_path("XXX") %>";
        var admin_edit_contract_type_path = "<%= edit_admin_contract_type_path("XXX") %>";
        $("#staging-cards").append('<div id="contract_type" class="staging-card"><div>contract_type ' + data.contract_type_id + '</div><div><a id="delete_contract_type" data-id="' + data.contract_type_id + '" class="text-color-red" rel="nofollow" data-method="delete" data-remote="true" href="' + admin_contract_type_path.replace("XXX", data.contract_type_id) + '">Supprimer</a></div></div>')
        $("#contract_type").append('<div><form id="update_contract_type" action="/admin/contract_types/' + data.contract_type_id + '" accept-charset="UTF-8" method="post" data-remote="true"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="<%=  form_authenticity_token%>"><textarea name="contract_type[name]"></textarea><input type="submit" value="mettre à jour" class="submit submit-edition"></form></div>')
        $("#contract_type").append('<div><form id="create_contract_type" action="/admin/contract_types" accept-charset="UTF-8" method="post" data-remote="true"><input type="hidden" name="_method" value="post"><input type="hidden" name="authenticity_token" value="<%=  form_authenticity_token%>"><textarea name="contract_type[name]">' + (new Date().getTime()) + '</textarea><input type="submit" value="créer" class="submit submit-creation"></form></div>')
        $("#contract_type").append('<div><a id="show_contract_type" href=' + admin_contract_type_path.replace("XXX", data.contract_type_id) + ' data-remote="true">Voir détail</a></div>')
        $("#contract_type").append('<div><a id="index_contract_type" href="/admin/contract_types/" data-remote="true">Voir liste</a></div>')
        $("#contract_type").append('<div><a id="edit_contract_type" href=' + admin_edit_contract_type_path.replace("XXX", data.contract_type_id) + ' data-remote="true">Voir édition</a></div>')
        $("#contract_type").append('<div><a id="new_contract_type" href="/admin/contract_types/new" data-remote="true">Voir création</a></div>')



      });     
  }
  defer1();
</script>
