Vous pouvez générer les données de recette en cliquant ici

<%= form_with url: admin_post_r7_data_path, local: false, id: 'admin_admin_post_r7_data_form' do |form| %>
  <%= form.submit 'générer'%>
<% end %>


<script> 
  function defer1(method) { if (window.jQuery) { admin_load_r7_page(); } else { setTimeout(function() { defer1(method) }, 50); } }

  function admin_load_r7_page() {


    $(document).on("ajax:error", function(e){
      var target_object = _.trimPrefix($(e.target).attr("id").toString(), "delete_")
      $.get({
        url: "/admin/get_r7_info?target_object=" + target_object + "&target_id=" + $(e.target).attr("data-id"),
        success: function(k) {
          if (_.isNotBlank(k.actual_object)) {
            $("#" + target_object).append("<div class='" + target_object + "_expl'>" + target_object + " existe toujours</div>")
          } else {
            $("#" + target_object).append("<div class='" + target_object + "_expl'>" + target_object + " n'existe plus en base</div>")
          }
        },
      })
    })

    $("#admin_admin_post_r7_data_form").on("ajax:success", 
      function(event, data) { 
      console.log("success!!")

        var admin_rule_path = "<%= admin_rule_path("XXX") %>";
        $('<div id="rule" class="staging-card"><div>rule ' + data.rule_id + '</div><div><a id="delete_rule" data-id="' + data.rule_id + '" class="text-color-red" rel="nofollow" data-method="delete" data-remote="true" href="' + admin_rule_path.replace("XXX", data.rule_id) + '">Supprimer rule</a></div></div>').insertAfter("#admin_admin_post_r7_data_form")
        // $("#rule").append('<div><form id="edit_rule" action="/admin/rules/' + data.rule_id + '" accept-charset="UTF-8" method="post" data-remote="true"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="<%=  form_authenticity_token%>"><textarea name="rule[name]"></textarea><input type="submit" value="mettre à jour"></form></div>')
        // $("#edit_rule").on("ajax:success", function(v){v.preventDefault();console.log('edit rule ok')})
        $("#rule").append('<div id="edit_rule" on>Modifier</div>')


        $("#edit_rule").on("click", function edit_rule_clicked(event2) {  
          console.log("call!!")
          var mydata = {
            rule: {description: "ok"},
            // authenticity_token: "<%= form_authenticity_token %>"
          };
          $.post({
            url: "/admin/rules/" + data.rule_id, //sumbits it to the given url of the form
            method: "PUT",
            data: {rule: {description: "ok"}},
            dataType: "JSON", // you want a difference between normal and ajax-calls, and json is standard
            success: function(xsuccess) {
              console.log("xsuccess");
              console.log(xsuccess);
            },
            error: function(xerror, xerror2) {
              console.log("xerror");
              console.log(xerror);
              console.log(xerror2);
            },
          })
        });


      });     
  }
  defer1();
</script>
