<div style="margin-top: 2rem;">
Charger les données de session Google Analytics
<%= form_with url: admin_load_stats_path, id: 'admin_load_stats_form' do |form| %>
  <%= form.submit 'Charger les sessions GA'%>
<% end %>
</div>

<div style="margin-top: 2rem;">
Charger les données de trafic PE / hors PE Google Analytics
<%= form_with url: admin_load_stats_from_pe_path, id: 'admin_load_stats_from_pe_form' do |form| %>
  <%= form.submit 'Charger les données de trafic PE / hors PE'%>
<% end %>
</div>

<div style="margin-top: 2rem;">
Copiez/collez les données (au format CSV) dans le cadre puis cliquez sur "charger"
<%= form_with url: admin_load_advisors_stats_path, id: 'admin_load_advisors_stats_form' do |form| %>
  <%= form.text_field :csv_data %>
  <%= form.submit 'Charger les données des conseillers'%>
<% end %>
</div>
