- title_data 'Votre adresse'
- has_error = !(flash[:error].blank?)
- if has_error
  - classes_of_input = ['c-field', 'h5-like', 'txtcenter', 'is-error'].join(" ")
  - aria_described_by_of_input = ['initInstr', 'address-error'].join(" ")
- else
  - classes_of_input = ['c-field', 'numberonly', 'h5-like', 'txtcenter'].join(" ")
  - aria_described_by_of_input = ['address'].join(" ")

= render 'shared/breadcrumb', {where: 'question'}

%main#main.mw1140p.center{role: "main"}
  .o-card.c-question
    = form_for @address, url: address_questions_path do |f|
      %h1.txtcenter
        %span#address-title.u-focusable.js-title{tabindex: "0"} (Facultatif) Quelle est votre adresse postale ?
      .c-address__explanation
        .h3-like.w75.u-focusable{tabindex: "0"}
          Vous pouvez bénéficier de certaines aides si vous habitez dans un quartier prioritaire de la ville ou en zone rurale
      .c-address__content
        #a11yAutocomplete
          %div{"data-widget" => "accessible-autocomplete"}
            %label.c-label.u-focusable{for: "search", tabindex: "0"} <div>Chercher une adresse sur le territoire de : <select> <option value="volvo">Volvo</option> <option value="saab">Saab</option> <option value="mercedes">Mercedes</option> <option value="audi">Audi</option> </select></div>
            %input#search{"placeholder" => "Exemple : 12 rue des car...", |
                            "aria-activedescendant" => "", |
                            "aria-autocomplete" => "both", |
                            "aria-describedby" => aria_described_by_of_input, |
                            "aria-expanded" => "false", |
                            "aria-owns" => "results", |
                            autocomplete: "off", |
                            class: classes_of_input, |
                            name: "address_form[label]", |
                            type: "text", |
                            value: "#{@address.label}"}
            %ul#results.autocomplete-list{role: "listbox", style: "display: none;", tabindex: "0"}
            %span#initInstr{style: "display: none;"} Quand l'autocomplete est disponible, appuyez sur les touches haut et bas pour sélectionner une valeur.
            .screen-reader-text.visually-hidden{"aria-live" => "assertive"}
        %input#location_label{value: "#{@address.label}", name: "address_form[label]"}

          %table#address_form
            %tr
              %td.label Street address
              %td.slimField
                %input#street_number.field{name: "address_form[street_number]", value:"#{@address.street_number}"}/
              %td.wideField{:colspan => "2"}
                %input#route.field{name: "address_form[route]", value:"#{@address.route}"}/
            %tr
              %td.label City
              %td.wideField{:colspan => "3"}
                %input#locality.field{name: "address_form[city]", value:"#{@address.city}"}/
            %tr
              %td.label State
              %td.slimField
                %input#administrative_area_level_1.field{name: "address_form[state]", value:"#{@address.state}"}/
              %td.label Zip code
              %td.wideField
                %input#postal_code.field{name: "address_form[zipcode]", value:"#{@address.zipcode}"}/
            %tr
              %td.label Country
              %td.slimField
                %input#country.field{name: "address_form[country]", value:"#{@address.country}"}/
              %td.label Citycode
              %td.wideField
                %input#citycode.field{name: "address_form[citycode]", value:"#{@address.citycode}"}/

        %div
          - if has_error
            %label#address-error.c-label.is-error= flash[:error][0]
          - else
            %label.c-label.flex-container.h4-like.visibility-hidden

      = javascript_tag "window._urlqpv = '#{ENV["ARA_URL_QPVZRR"]}'"
      = render 'nav/next_previous', f: f
