- e = view_object(:error_view_object, {errors: flash[:error]})
- title_data 'Filtres'
- raw_description = "Avez-vous besoin d'aides personnalisées pour retrouver un emploi ?".html_safe
- description_data(raw_description)

%main#main{role: "main"}
  = render 'shared/breadcrumb'
  = pp local_assigns[:asker].attributes 

  .u-useful-width.u-margin-constraint  
    = render 'shared/back_question'
    .o-card.o-card--question

      = form_with url: filter_questions_path, :local => true do |f|
    
        = render 'shared/progressbar'
        = render 'shared/question_number'
        = render 'shared/a_form_header', {youranswer: "yes", title: "#{raw_description}", subtitle: "Cochez la ou les situations correspondantes"}
        
        %fieldset.c-fieldset
          %legend.u-hidden-visually Cochez la situation &#xE0; : appuyez sur Tab pour changer de case, et Entr&#xE9;e pour en choisir une.

          - local_assigns[:filters].each do |filter|       
            = render 'shared/other_form_line', {id: "#{filter.name}", current_text: "#{filter.description}"} 
                
        = render 'nav/next_previous', f: f
