<%- v = view_object(:new_aid_one, local_assigns) %>


<section class="c-newaid c-newaid--stage1">
  <%= link_to "‹ Retour liste des aides", admin_aids_path, class: "c-newaid-back2" %>
  <h1 class="c-newaid-title">Créer une aide</h1>

  <section class="c-newaid-panels simple-row">
    <div class="simple-col c-newaid-leftpanel" style="width: 45%">
      <div class="c-newaid-stages">
        <div class="c-newaid-stage c-newaid-stage--active">
          <div class="c-newaid-stageinside">
            Étape 1
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 2
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 3
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 4
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 5
          </div>
        </div>
      </div>

      <div class="c-newaid-belowstages">
        <div class="c-newaid-subtitle">Informations générales</div>


        <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_1_path, html: { class: "form" }) do |f| %>

          <%= hidden_field(:slug, :value, :value => !!page.resource.created_at ? page.resource.slug : "") %>

          <% page.attributes.each_with_index do |attribute, index_nb| %>
            <% if v.show_field?(attribute, current_user.role) %>
              <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--errored-<%=v.errored?(attribute)%> is-iteration-<%= index_nb %>">
                <%= render_field attribute, f: f, is_mandatory: v.mandatory_field?(attribute), is_optional: !v.mandatory_field?(attribute) %>
                <% if v.errored?(attribute) -%>
                  <div class="field-unit-error-msg field-unit-error-msg--<%= attribute.html_class %>">
                    &nbsp;⚠ <%= v.error_message(attribute) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <%= f.submit "Enregistrer", id: "submit-current-step" %>
        <% end %>              
      </div>
      
      <div class="c-newaid-actions">
        <%= link_to "‹ Retour liste des aides", admin_aids_path, class: "c-newaid-back2" %>
        <button class="c-newbutton c-newaid-actionrecord"> Étape suivante </button>
      </div>

    </div>    
    <div class="simple-col">
      <%= render "aid_preview" %>    
    </div>
  </section>
</section>



