<%- v = view_object(:new_aid_five, local_assigns) %>
<%- ok_svg = '<svg fill="#2b542c" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g><g id="check-circle-outline"><path d="M150.45,206.55l-35.7,35.7L229.5,357l255-255l-35.7-35.7L229.5,285.6L150.45,206.55z M459,255c0,112.2-91.8,204-204,204S51,367.2,51,255S142.8,51,255,51c20.4,0,38.25,2.55,56.1,7.65l40.801-40.8C321.3,7.65,288.15,0,255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255H459z"/></g></g></svg>' %>
<%- ko_svg = '<svg fill="#843534" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g><g><path d="M256,0C114.497,0,0,114.507,0,256c0,141.503,114.507,256,256,256c141.503,0,256-114.507,256-256C512,114.497,397.493,0,256,0z M256,472c-119.393,0-216-96.615-216-216c0-119.393,96.615-216,216-216c119.393,0,216,96.615,216,216C472,375.393,375.385,472,256,472z"/></g></g><g><g><path d="M256,128.877c-11.046,0-20,8.954-20,20V277.67c0,11.046,8.954,20,20,20s20-8.954,20-20V148.877C276,137.831,267.046,128.877,256,128.877z"/></g></g><g><g><circle cx="256" cy="349.16" r="27"/></g></g></svg>' %>
<%- is_modifying = params[:modify] == "true"  %>
<%- is_coming_from_detail = params[:back2detail] == "true"  %>
<%- verb = is_modifying ? "Modifier" : "Créer" %>


<section class="c-newaid c-newaid--stage5">
  <% if !is_modifying  %>
    <%= link_to "‹ Retour à l'étape 4", admin_aid_creation_new_aid_stage_4_path(slug: params[:slug]), class: "c-newaid-back2" %>
  <% elsif is_modifying && !is_coming_from_detail %>
    <%= link_to "‹ Retour liste des aides", admin_aids_path, class: "c-newaid-back2" %>
  <% elsif is_modifying && is_coming_from_detail %>
    <%= link_to "‹ Retour au détail de l'aide", admin_aid_path(params[:slug]), class: "c-newaid-back2" %>
  <% end  %>

            <section class="c-newaid-header">
    <h1 class="c-newaid-title"><%= verb %> une aide</h1>
<%= render "admin/shared/aid_finalcut_icons", {v: v, page: page} %>
  </section>   



  <section class="c-newaid-panels simple-row">
    <div class="simple-col c-newaid-leftpanel" style="width: 60%">
      <div class="c-newaid-stages">
        <div class="c-newaid-stage c-newaid-stage--1 c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            <%= link_to "Étape 1", admin_aid_creation_new_aid_stage_1_path(slug: params[:slug], modify: params[:modify]) %>
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--2 c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            <%= link_to "Étape 2", admin_aid_creation_new_aid_stage_2_path(slug: params[:slug], modify: params[:modify]) %>
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--3 c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            <%= link_to "Étape 3", admin_aid_creation_new_aid_stage_3_path(slug: params[:slug], modify: params[:modify]) %>
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--4 c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            <%= link_to "Étape 4", admin_aid_creation_new_aid_stage_4_path(slug: params[:slug], modify: params[:modify]) %>
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--5 c-newaid-stage--active">
          <div class="c-newaid-stageinside">
            Étape 5
          </div>
        </div>
      </div>

      <div class="c-newaid-belowstages">

        <div class="c-newaid-stage5title">
          Étape 1 : Informations générales - 
          <%= link_to "Modifier", admin_aid_creation_new_aid_stage_1_path(slug: params[:slug], modify: is_modifying) %>
        </div>
        <div class="c-newaid-stage5expl is-ok-<%= v.stage_1_ok? %>">
          <div class="c-newaid-stage5expl__img">
            <% if v.stage_1_ok? %>
              <%= raw ok_svg %>
            <% else %>
              <%= raw ko_svg %>
            <% end %>
          </div>
          <div class="c-newaid-stage5expl__txt">
            <%= raw v.stage_1_comment %>
          </div>          
        </div>
        
        <div class="c-newaid-stage5title">
          Étape 2 : Contenu - 
          <%= link_to "Modifier", admin_aid_creation_new_aid_stage_2_path(slug: params[:slug], modify: is_modifying) %>
        </div>
        <div class="c-newaid-stage5expl is-ok-<%= v.stage_2_ok? %>">
          <div class="c-newaid-stage5expl__img">
            <% if v.stage_2_ok? %>
              <%= raw ok_svg %>
            <% else %>
              <%= raw ko_svg %>
            <% end %>
          </div>
          <div class="c-newaid-stage5expl__txt">
            <%= raw v.stage_2_comment %>
          </div>          
        </div>

        <div class="c-newaid-stage5title">
          Étape 3 : Page de résultat -
          <%= link_to "Modifier", admin_aid_creation_new_aid_stage_3_path(slug: params[:slug], modify: is_modifying) %>
        </div>
        <div class="c-newaid-stage5expl is-ok-<%= v.stage_3_ok? %>">
          <div class="c-newaid-stage5expl__img">
            <% if v.stage_3_ok? %>
              <%= raw ok_svg %>
            <% else %>
              <%= raw ko_svg %>
            <% end %>
          </div>
          <div class="c-newaid-stage5expl__txt">
            <%= raw v.stage_3_comment %>
          </div>          
        </div>
        
        <div class="c-newaid-stage5title">
          Étape 4 : Champ d'application - 
          <%= link_to "Modifier", admin_aid_creation_new_aid_stage_4_path(slug: params[:slug], modify: is_modifying) %>
        </div>
        <div class="c-newaid-stage5expl is-ok-<%= v.stage_4_ok? %>">
          <div class="c-newaid-stage5expl__img">
            <% if v.stage_4_ok? %>
              <%= raw ok_svg %>
            <% else %>
              <%= raw ko_svg %>
            <% end %>
          </div>
          <div class="c-newaid-stage5expl__txt">
            <%= raw v.stage_4_comment %>
          </div>          
        </div>

        <%= render "admin/shared/aid_finalcut", {v: v, page: page} %>


      </div>
      <div class="c-newaid-actions">
        <% if !is_modifying  %>
          <%= link_to "‹ Retour à l'étape 4", admin_aid_creation_new_aid_stage_4_path(slug: params[:slug]), class: "c-newaid-back2" %>
        <% end %>
      </div>

    </div>    
    <div class="simple-col">
      
    </div><!-- simple-col -->


  </section>
</section>
