<%- v = view_object(:new_aid_one, local_assigns) %>


<section class="c-newaid">
  <%= link_to "‹ Retour liste des aides", admin_aids_path, class: "c-newaid-back2aids" %>
  <h1 class="c-newaid-title">Créer une aide</h1>

  <section class="c-newaid-panels grid-flex">
    <div class="grid-col">
      <div class="c-newaid-stages">
        <div class="c-newaid-stages--active">Étape 1</div>
        <div class="c-newaid-stages--inactive">Étape 2</div>
        <div class="c-newaid-stages--inactive">Étape 3</div>
        <div class="c-newaid-stages--inactive">Étape 4</div>
        <div class="c-newaid-stages--inactive">Étape 5</div>
      </div>

      <div class="c-newaid-subtitle"><strong>Étape 1</strong> : informations générales</div>


      <%= form_for([namespace, page.resource], html: { class: "form grid-col" }) do |f| %>

        <% page.attributes.each_with_index do |attribute, index_nb| %>
          <% if v.show_field?(attribute) %>
            <div class="field-unit field-unit--<%= attribute.html_class %>">
              <%= render_field attribute, f: f %>
            </div>
          <% end %>
        <% end %>

      <% end %>      
    </div>    
    <div class="grid-col">
      <%= render "aid_preview" %>    
    </div>
  </section>
</section>



