<%- v = view_object(:new_aid_three, local_assigns) %>


<section class="c-newaid c-newaid--stage3">
  <%= link_to "‹ Retour à l'étape 2", admin_aid_creation_new_aid_stage_2_path(slug: params[:slug]), class: "c-newaid-back2" %>
  <h1 class="c-newaid-title">Créer une aide</h1>

  <section class="c-newaid-panels simple-row">
    <div class="simple-col c-newaid-leftpanel" style="width: 45%">
      <div class="c-newaid-stages">
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 1
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 2
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--active">
          <div class="c-newaid-stageinside">
            Étape 3
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 4
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 5
          </div>
        </div>
      </div>

      <div class="c-newaid-belowstages">
        <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_3_path, html: { class: "form" }) do |f| %>
          <h2 class="c-newaid-subtitle">Contenu de l'aide</h2>
          <input placeholder="" type="hidden" name="aid[name]" id="aid_name" value="<%= page.resource.name %>">
          <input placeholder="" type="hidden" name="aid[contract_type_id]" id="aid_contract_type_id" value="<%= page.resource.contract_type.name %>">

          <%= hidden_field(:slug, :value, value: page.resource.slug) %>


          <% page.attributes.each_with_index do |attribute, index_nb| %>
            <% if v.show_field?(attribute) %>
              <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--errored-<%=v.errored?(attribute)%>">
                <%= render_field attribute, f: f, is_mandatory: v.mandatory_field?(attribute) %>
                <% if v.errored?(attribute) -%>
                  <div class="field-unit-error-msg field-unit-error-msg--<%= attribute.html_class %>">
                    &nbsp;⚠ <%= v.error_message(attribute) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= f.submit "Enregistrer", id: "submit-current-step" %>
        <% end %>                     
      </div>
      <div class="c-newaid-actions">
        <%= link_to "‹ Retour à l'étape 2", admin_aid_creation_new_aid_stage_2_path(slug: params[:slug]), class: "c-newaid-back2" %>
        <button class="c-newbutton c-newaid-actionrecord"> Enregistrer </button>
      </div>

    </div>    
    <div class="simple-col">
      <div>
        sur la page de résultat, l'aide s'affichera comme ceci :
      </div>
      <div class="c-resultcard c-resultcard--green" data-cslug="contrat-specifique">
<div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
<div class="o-layout__item u-3/4">
<div class="o-flag o-flag--flush c-resultcontract">
<div class="o-flag__img u-hide-until@wide">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><defs><style>.cls-4{fill:#111;}</style></defs><title>ic-activprojet</title><g id="Calque_27" data-name="Calque 27"><path class="cls-10" d="M37.29,61.29,32,66.58V65a1,1,0,1,0-2,0v4a.88.88,0,0,0,0,.16.58.58,0,0,0,.17.4.93.93,0,0,0,.09.14,1,1,0,0,0,.3.2l0,0A1,1,0,0,0,31,70h4a1,1,0,1,0,0-2H33.41l5.29-5.29a1,1,0,0,0-1.42-1.41ZM33.41,32H35a1,1,0,1,0,0-2H31a.88.88,0,0,0-.22,0,1,1,0,0,0-.16,0,1,1,0,0,0-.27.18l-.06,0,0,.06a1,1,0,0,0-.18.26,1,1,0,0,0,0,.2A.89.89,0,0,0,30,31v4a1,1,0,0,0,2,0V33.41l5.29,5.29a1,1,0,0,0,1.42-1.41ZM77.94,49.72a1,1,0,0,0,0-.11,1,1,0,0,0-.15-.22.89.89,0,0,0-.07-.1l-3-3a1,1,0,1,0-1.41,1.42L74.59,49H67a1,1,0,0,0,0,2h7.59l-1.29,1.29a1,1,0,0,0,1.41,1.42l3-3a1,1,0,0,0,.22-.32s0-.06,0-.09a.74.74,0,0,0,0-.57ZM62,39a1,1,0,0,0,.71-.29L68,33.41V35a1,1,0,1,0,2,0V31a.82.82,0,0,0,0-.11,1,1,0,0,0-.05-.27,1,1,0,0,0-.22-.33.95.95,0,0,0-.66-.28H65a1,1,0,1,0,0,2h1.58l-5.29,5.29A1,1,0,0,0,62,39ZM47.71,26.71h0L49,25.41V33a1,1,0,1,0,2,0V25.41l1.29,1.29a1,1,0,0,0,1.42-1.41l-3-3-.08-.05a1,1,0,0,0-.25-.16,1,1,0,0,0-.77,0,1,1,0,0,0-.21.14.93.93,0,0,0-.12.08l-3,3a1,1,0,0,0,1.42,1.42ZM25.41,51H33a1,1,0,0,0,0-2H25.42l1.29-1.29a1,1,0,0,0-1.42-1.41l-3,3h0A.95.95,0,0,0,22,50s0,0,0,0v0a1,1,0,0,0,.29.68l3,3a1,1,0,1,0,1.42-1.41ZM69,64a1,1,0,0,0-1,1v1.59l-5.29-5.29a1,1,0,0,0-1.41,1.41L66.58,68H65a1,1,0,0,0,0,2h4a1,1,0,0,0,.22,0,.73.73,0,0,0,.49-.25,1,1,0,0,0,.22-.33,1,1,0,0,0,0-.11A1,1,0,0,0,70,69V65A1,1,0,0,0,69,64ZM56.9,46.71l-.07,0L54.25,46a1,1,0,0,0-1,.26L50,49.59l-3.29-3.29a1,1,0,0,0-1-.26l-2.59.66-.07,0A4.52,4.52,0,0,0,40,51v9a5,5,0,0,0,4,4.9V77a1,1,0,0,0,1,1H55a1,1,0,0,0,1-1V64.9A5,5,0,0,0,60,60V51A4.53,4.53,0,0,0,56.9,46.71ZM58,60a3,3,0,0,1-2,2.81V53a1,1,0,0,0-2,0V76H51V64a1,1,0,1,0-2,0V76H46V53a1,1,0,1,0-2,0v9.81A3,3,0,0,1,42,60V51a2.52,2.52,0,0,1,1.7-2.38l2-.51,3.6,3.6a1,1,0,0,0,1.41,0l3.6-3.6,2,.51A2.52,2.52,0,0,1,58,51ZM50,46a5,5,0,1,0-5-5A5,5,0,0,0,50,46Zm0-8a3,3,0,1,1-3,3A3,3,0,0,1,50,38Z"></path></g></svg>
</div>
<div class="o-flag__body">
<h2 class="c-resultcontract-title">
<span class="c-resultcontract-title__number">4</span>
<span class="c-resultcontract-title__text" data-cplural="Contrats spécifiques" data-csingle="Contrat spécifique">Contrats spécifiques</span>
</h2>
</div>
</div>
</div>
<div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
<button class="c-btn c-btn--small c-btn--result js-open u-hidden-visually"><span class="c-resultcaretopen u-hide-until@wide">Ouvrir&nbsp;&nbsp;</span><span class="c-resultcaret"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -1 16 16"><path fill-rule="evenodd" d="M13,5 L13,13 L11,13 L11,5 L3,5 L3,3 L13,3 L13,5 Z" transform="rotate(135 8 8)"></path></svg></span></button>
<button class="c-btn c-btn--small c-btn--result js-close"><span class="c-resultcaretclose u-hide-until@wide">Replier&nbsp;&nbsp;</span><span class="c-resultcaret"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -6 16 16"><path fill-rule="evenodd" d="M13,5 L13,13 L11,13 L11,5 L3,5 L3,3 L13,3 L13,5 Z" transform="rotate(-45 8 8)"></path></svg></span></button>
</div>
</div>
<div class="c-resultaids">
<div class="c-resultaid" data-aslug="parcours-emploi-competences">
<div class="o-layout o-layout--middle o-layout--flush">
<div class="o-layout__item u-3/4">
<h3 class="c-resultaid__smalltitle">Parcours Emploi Compétences </h3>
<p class="u-margin-bottom-none">Le Parcours Emploi Compétences  (PEC) remplace les contrats aidés : il est destiné aux publics en difficulté d'insertion</p>
<ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
<li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="s-informer-sur-contrats-specifiques">S'informer sur les contrats spécifiques</li>
</ul>
</div>
<div class="o-layout__item u-1/4 u-text--right">
<a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/parcours-emploi-competences?for_id=MzQsMyxuLCwxLG4sbiwsbm90X2FwcGxpY2FibGUsbw==">En savoir plus</a>
</div>
</div>
</div>
<div class="c-resultaid" data-aslug="aides-pour-les-employeurs">
<div class="o-layout o-layout--middle o-layout--flush">
<div class="o-layout__item u-3/4">
<h3 class="c-resultaid__smalltitle">Aides pour les employeurs</h3>
<p class="u-margin-bottom-none">Aides au bénéfice des employeurs qui vous embauchent</p>
<ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
<li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="aides-employeurs">Connaître les aides au bénéfice des employeurs</li>
</ul>
</div>
<div class="o-layout__item u-1/4 u-text--right">
<a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/aides-pour-les-employeurs?for_id=MzQsMyxuLCwxLG4sbiwsbm90X2FwcGxpY2FibGUsbw==">En savoir plus</a>
</div>
</div>
</div>
<div class="c-resultaid" data-aslug="volontariat-associatif">
<div class="o-layout o-layout--middle o-layout--flush">
<div class="o-layout__item u-3/4">
<h3 class="c-resultaid__smalltitle">Volontariat associatif</h3>
<p class="u-margin-bottom-none">Mission à caractère éducatif, environnemental, humanitaire, sportif...</p>
<ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
<li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="s-informer-sur-contrats-specifiques">S'informer sur les contrats spécifiques</li>
</ul>
</div>
<div class="o-layout__item u-1/4 u-text--right">
<a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/volontariat-associatif?for_id=MzQsMyxuLCwxLG4sbiwsbm90X2FwcGxpY2FibGUsbw==">En savoir plus</a>
</div>
</div>
</div>
<div class="c-resultaid" data-aslug="accompagnement-des-anciens-militaires-et-des-conjoint-es-de-militaires">
<div class="o-layout o-layout--middle o-layout--flush">
<div class="o-layout__item u-3/4">
<h3 class="c-resultaid__smalltitle">Accompagnement des ancien·ne·s militaires et des conjoint·e·s de militaires</h3>
<p class="u-margin-bottom-none">Aides à la mobilité, au financement de formations, accompagnement spécifique à l'emploi </p>
<ul class="o-list-inline c-resultfilters u-margin-bottom-none u-hidden-visually">
<li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="creer-entreprise">Créer ou reprendre une entreprise</li>
<li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="trouver-change-de-metier">Trouver un métier, changer de métier</li>
<li class="o-list-inline__item c-resultfilter u-margin-top-tiny" data-name="accompagne-recherche-emploi">Être accompagné·e pour la recherche d'emploi</li>
</ul>
</div>
<div class="o-layout__item u-1/4 u-text--right">
<a class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop" href="/aides/detail/accompagnement-des-anciens-militaires-et-des-conjoint-es-de-militaires?for_id=MzQsMyxuLCwxLG4sbiwsbm90X2FwcGxpY2FibGUsbw==">En savoir plus</a>
</div>
</div>
</div>
</div>
</div>
    </div>
  </section>
</section>



