<%- v = view_object(:new_aid_three, local_assigns) %>


<section class="c-newaid c-newaid--stage3">
  <%= link_to "‹ Retour à l'étape 2", admin_aid_creation_new_aid_stage_2_path(slug: params[:slug]), class: "c-newaid-back2" %>
  <h1 class="c-newaid-title">Créer une aide</h1>

  <section class="c-newaid-panels simple-row">
    <div class="simple-col c-newaid-leftpanel" style="width: 45%">
      <div class="c-newaid-stages">
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 1
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 2
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--active">
          <div class="c-newaid-stageinside">
            Étape 3
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 4
          </div>
        </div>
        <div class="c-newaid-stage c-newaid-stage--inactive">
          <div class="c-newaid-stageinside">
            Étape 5
          </div>
        </div>
      </div>

      <div class="c-newaid-belowstages">
        <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_3_path, html: { class: "form" }) do |f| %>
          <h2 class="c-newaid-subtitle">Contenu de l'aide</h2>
          <input placeholder="" type="hidden" name="aid[name]" id="aid_name" value="<%= page.resource.name %>">
          <input placeholder="" type="hidden" name="aid[contract_type_id]" id="aid_contract_type_id" value="<%= page.resource.contract_type.name %>">

          <%= hidden_field(:slug, :value, value: page.resource.slug) %>


          <% page.attributes.each_with_index do |attribute, index_nb| %>
            <% if v.show_field?(attribute) %>
              <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--errored-<%=v.errored?(attribute)%>">
                <%= render_field attribute, f: f, is_mandatory: v.mandatory_field?(attribute) %>
                <% if v.errored?(attribute) -%>
                  <div class="field-unit-error-msg field-unit-error-msg--<%= attribute.html_class %>">
                    &nbsp;⚠ <%= v.error_message(attribute) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= f.submit "Enregistrer", id: "submit-current-step" %>
        <% end %>                     
      </div>
      <div class="c-newaid-actions">
        <%= link_to "‹ Retour à l'étape 2", admin_aid_creation_new_aid_stage_2_path(slug: params[:slug]), class: "c-newaid-back2" %>
        <button class="c-newbutton c-newaid-actionrecord"> Enregistrer </button>
      </div>

    </div>    
    <div class="simple-col">
      <div>
        sur la page de résultat, l'aide s'affichera comme ceci :
      </div>


<div class="c-resultcard c-resultcard--green" data-cslug="contrat-specifique">
  <div class="c-resultcard__inner o-layout o-layout--middle o-layout--flush u-padding-horizontal-tiny">
    <div class="o-layout__item u-3/4">
      <div class="o-flag o-flag--flush c-resultcontract">
        <div class="o-flag__img u-hide-until@wide">
          <%= raw v.svg %>
        </div>
        <div class="o-flag__body">
          <h2 class="c-resultcontract-title">
            <span class="c-resultcontract-title__number"><%= v.number_of_aids %></span>
            <span class="c-resultcontract-title__text"><%= v.contract_type_name %></span>
          </h2>
        </div>
      </div>
    </div>
    <div aria-hidden="true" class="o-layout__item u-1/4 u-text--right">
    </div>
  </div>

  <div class="c-resultaids">


    <% v.aids.each_with_index do |aid, index_nb| %>
      <div class="c-resultaid" data-aslug="parcours-emploi-competences">
        <div class="o-layout o-layout--middle o-layout--flush">
          <div class="o-layout__item u-3/4">
            <h3 class="c-resultaid__smalltitle"><%= aid[:name] %> </h3>
            <p class="u-margin-bottom-none"><%= aid[:short_description] %></p>
          </div>
          <div class="o-layout__item u-1/4 u-text--right">
            <div class="c-btn c-btn--aid c-btn--primary u-padding-horizontal@desktop u-padding-vertical-tiny@desktop">En savoir plus</div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>
</div>


  </section>
</section>



