<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field u-margin-top-small">
    <%= form.label :password, "Mot de passe" %>
    <div class="password-field-input">
      <%= form.password_field :password %>
      <input type="submit" name="commit" value="" class="c-eye" data-disable-with="">      
    </div>
    <%= link_to "Mot de passe oublié ?", new_password_path %>
  </div>

  <div class="submit-field u-margin-top c-login-connect">
    <%= form.submit "Se connecter" %>
  </div>

  <hr class="u-margin-top u-margin-bottom-small">

  <div class="">Nouveau sur le back-office</div>

  <div class="other-links u-margin-vertical-small c-login-create">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to "Créer un compte", sign_up_path %>
    <% end %>
  </div>
<% end %>
