- title_data 'Votre âge'
- raw_description = 'Quel est votre âge ?'
- description_data(raw_description)
- has_error = !(flash[:error].blank?)
- if has_error
  - classes_of_input = ['c-field', 'c-age-input']
  - aria_described_by_of_input = ['age', 'c-age-error__label']
- else
  - classes_of_input = ['c-field', 'c-age-input']
  - aria_described_by_of_input = ['age']

%main#main{role: "main"}
  = render 'shared/breadcrumb'
  .u-useful-width.u-margin-constraint
    = render 'shared/back_question'
    .o-card.o-card--question
      = form_with model: @age, url: age_questions_path, :local => true do |f|
        = render 'shared/progressbar'
        = render 'shared/question_number'
        = render 'shared/a_form_header', {title: "#{raw_description}"}

        .c-age__form
          %label{for:'age', "class" => "u-hidden-visually"} age :
          = f.number_field :number_of_years, 
              class: classes_of_input, 
              id: 'age', 
              value: @age.number_of_years, 
              autofocus: true, 
              autocomplete: 'off',
              'aria-describedby' => aria_described_by_of_input, 
              'aria-required' => 'true'

        = render 'nav/next_previous', f: f, e: OpenStruct.new(has_error: has_error), m: "Veuillez renseigner un âge"
