!!!
%html.c-html{:lang => "#{I18n.locale}"}
  %head
    - unless ga_disabled?
      = "<!-- Google Tag Manager --><script id='ga-gtag-exec'>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','#{ENV["ARA_GOOGLE_TAG_MANAGER_ID"]}');</script><!-- End Google Tag Manager -->".html_safe


    = render 'shared/tab_title', {title_data: (yield :title_data), description_data: (yield :description_data) }

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "initial-scale=1, maximum-scale=1, user-scalable=yes", :name => "viewport"}
    %meta{:name => "turbolinks-cache-control", :content => "no-cache"}
    / Google search console SebSEO
    %meta{:content => "neOTrE-YKZ9LbgLlaX8UkYN6MJTPlWpeotPQqbrJ19Q", :name => "google-site-verification"}/
    / Google search console Mat
    %meta{:content => "TNQnOQs84jCeQUgbEPOAV9gE4LXDUQaG5ypdnlRz2E8", :name => "google-site-verification"}/
    / Google search console Beg
    %meta{:content => "eZYLdUFSc9uBqciZ7fcOxXybmBPxcPME-N9NCRvFn8w", :name => "google-site-verification"}/
    / Google search console Maxd
    %meta{:content => "f_xo9InTg_SGabP-vnvDjrslUaixMcuxCaGidnXJT9s", :name => "google-site-verification"}/
    / Google search console Davb
    %meta{:content => "rjlrEGuLOWAOnmomQMmM5epqCRA3dZY4p1oMDbfCxiY", :name => "google-site-verification"}/
    / Google search console Acm
    %meta{:content => "YOm5sNGxbHWmN2Rf3Udg6v29ca5YjM3RNRz8TjWA6Pw", :name => "google-site-verification"}/
    / Google search console Mar
    %meta{:content => "0jDmSXtIkrU_nDcXoExkAHbG0TmRlGrx7LdJoX9ktWg", :name => "google-site-verification"}/


    = javascript_tag "window.clara = window.clara || {}; clara.hotjar_id = '#{ENV['ARA_HOTJAR_ID'].to_s}';clara.ga_id = '#{ENV['ARA_GOOGLE_ANALYTICS_ID'].to_s}'; clara.version = '#{ARA_VERSION}'; clara.env = #{ARA_EXT_URL.to_json};"
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = favicon_link_tag 'favicon.ico'        
    = javascript_include_tag 'application', 'async' => Rails.env.production?, 'defer' => Rails.env.production?
    = yield :custom_css
        
  %body{class: "c-body #{controller_name} #{action_name}", data: {env: Rails.env, path: GetCurrentPathService.new(request).call}}
    - unless ga_disabled?
      ="<!-- Google Tag Manager (noscript) --><noscript><iframe src='https://www.googletagmanager.com/ns.html?id=#{ENV["ARA_GOOGLE_TAG_MANAGER_ID"]}' height='0' width='0' style='display:none;visibility:hidden'></iframe></noscript><!-- End Google Tag Manager (noscript) -->".html_safe

    .c-body__wrapper
      .c-body__content
        = render 'shared/header', {larger_container: (yield :larger_container)}
        = yield
      - if content_for?(:prefooter)
        = yield :prefooter
      %footer.c-body__footer
        - if content_for?(:footer)
          = yield :footer
        - else
          = render 'shared/footer', {larger_container: (yield :larger_container)}
    
    - if (!hj_disabled? && from_pe?(request))
      = javascript_tag "(function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; h._hjSettings={hjid:window.clara.hotjar_id,hjsv:5}; a=o.getElementsByTagName('head')[0]; r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');", id: "hj-script"
    - unless ga_disabled?
      = javascript_tag "(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');", id: "ga-script"
      = javascript_tag "ga('create', window.clara.ga_id, 'auto');", id: "ga-create-script"
      - if from_pe?(request)
        = javascript_tag "ga('set', 'dimension1', 'true');", id: "ga-frompe", class: "ga-frompe-true"
      - else
        = javascript_tag "ga('set', 'dimension1', 'false');", id: "ga-frompe", class: "ga-frompe-false"
      :javascript
        !function(){window._DD;var e=document,t=window.getComputedStyle,r=e.getElementsByTagName("head")[0],o=e.createElement("p"),d=o.style,a=["flex","-webkit-flex","-ms-flexbox","-webkit-box","-moz-box"],n=["flexWrap","WebkitFlexWrap","msFlexWrap"];r.appendChild(o);for(var i=0,s=a.length;i<s;i++){if(!n[i]||n[i]in d)if(d.cssText="display:"+a[i],(t?t(o,null).getPropertyValue("display"):o.currentStyle.display)==a[i]){_DD=i+1;break}}if(r.removeChild(o),1!==window._DD){var c=document.createElement("div");c.id="content_to_add",c.innerHTML="<div class='c-browser-deprecated u-padding' style='background-color: orange;'><div class='c-browser-deprecated__line'>!! Certains contenus ne seront pas correctement affichés car votre navigateur est obsolète.</div><div class='c-browser-deprecated__line'><a href='https://updatemybrowser.org'>Ce site</a> peut vous aider à mettre à jour votre navigateur.</div></div>",document&&document.body&&document.body.insertBefore&&document.body.insertBefore(c,document.body.childNodes[0])}}();

