!!!
%html.c-html{:lang => "#{I18n.locale}"}
  %head

    = render 'shared/tab_title', {title_data: (yield :title_data), description_data: (yield :description_data) }

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "initial-scale=1, maximum-scale=1, user-scalable=yes", :name => "viewport"}
    %meta{:name => "is-connected", :content => "#{is_connected_with_pe?}"}

    = javascript_tag "window.clara = window.clara || {}; clara.hotjar_id = '#{ENV['ARA_HOTJAR_ID'].to_s}';clara.ga_id = '#{ENV['ARA_GOOGLE_ANALYTICS_ID'].to_s}'; clara.version = '#{ARA_VERSION}'; clara.env = #{ARA_EXT_URL.to_json};"
    = csrf_meta_tags
    - unless Rails.env.test?
      = stylesheet_link_tag 'application', media: 'all'
      = favicon_link_tag 'favicon.ico'        
      = javascript_include_tag 'application', 'async' => Rails.env.production?, 'defer' => Rails.env.production?
    = yield :custom_css
        
  %body{class: "c-body #{controller_name} #{action_name}", data: {connect: is_connected_with_pe?.to_s, env: Rails.env, path: GetCurrentPathService.new(request).call}}
    .c-body__wrapper
      .c-body__content
        = render 'shared/header', {larger_container: (yield :larger_container)}
        = yield
      - if content_for?(:prefooter)
        = yield :prefooter
      %footer.c-body__footer
        - if content_for?(:footer)
          = yield :footer
        - else
          = render 'shared/footer', {larger_container: (yield :larger_container)}
    
    = javascript_tag "var gtcscript = document.createElement('script');gtcscript.src='#{ENV['ARA_GOOGLE_TAG_COMMANDER_SRC']}';gtcscript.async=true;document.body.appendChild(gtcscript);", id: "google-tag-commander-creation-script"
    - if from_pe?(request)
      = javascript_tag "if (typeof ga === 'function') ga('set', 'dimension1', 'true');", id: "ga-frompe", class: "ga-frompe-true"
    - else
      = javascript_tag "if (typeof ga === 'function') ga('set', 'dimension1', 'false');", id: "ga-frompe", class: "ga-frompe-false"
    :javascript
      !function(){window._DD;var e=document,t=window.getComputedStyle,r=e.getElementsByTagName("head")[0],o=e.createElement("p"),d=o.style,a=["flex","-webkit-flex","-ms-flexbox","-webkit-box","-moz-box"],n=["flexWrap","WebkitFlexWrap","msFlexWrap"];r.appendChild(o);for(var i=0,s=a.length;i<s;i++){if(!n[i]||n[i]in d)if(d.cssText="display:"+a[i],(t?t(o,null).getPropertyValue("display"):o.currentStyle.display)==a[i]){_DD=i+1;break}}if(r.removeChild(o),1!==window._DD){var c=document.createElement("div");c.id="content_to_add",c.innerHTML="<div class='c-browser-deprecated u-padding' style='background-color: orange;'><div class='c-browser-deprecated__line'>!! Certains contenus ne seront pas correctement affichés car votre navigateur est obsolète.</div><div class='c-browser-deprecated__line'><a href='https://updatemybrowser.org'>Ce site</a> peut vous aider à mettre à jour votre navigateur.</div></div>",document&&document.body&&document.body.insertBefore&&document.body.insertBefore(c,document.body.childNodes[0])}}();

