<% content_for(:title) do %>
  Liste des règles
<% end %>

<header class="main-content__header c-rules-header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>

</header>

<header class="c-rules-subheader">
  <% if show_search_bar %>
    <%= render(
      "search",
      search_term: search_term,
      resource_name: display_resource_name(page.resource_name)
    ) %>
  <% end %>
  <div>
     <%= link_to(
       t(
         "helpers.creation.rule.new_composite_resource",
         name: page.resource_name.titleize.downcase
       ),
       new_admin_rule_path(rule_kind: "composite"),
       class: "button",
     ) %>
  </div>
  <div class="small-left-margin">
    <%= link_to(
      t(
        "helpers.creation.rule.new_simple_resource",
        name: page.resource_name.titleize.downcase
      ),
      new_admin_rule_path(rule_kind: "simple"),
      class: "button",
    ) %>
  </div>
</header>
<section class="main-content__body main-content__body--flush">
  <%= render(
    "collection",
    collection_presenter: page,
    collection_field_name: resource_name,
    page: page,
    resources: resources,
    table_title: "page-title"
  ) %>

  <%= paginate resources %>
</section>
