<%#
# HasMany Show Partial

This partial renders a has_many relationship,
to be displayed on a resource's show page.

By default, the relationship is rendered
as a table of the first few associated resources.
The columns of the table are taken
from the associated resource class's dashboard.

## Local variables:

- `field`:
  An instance of [Administrate::Field::HasMany][1].
  Contains methods to help display a table of associated resources.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/HasMany
%>


<% if field.resources.any? %>
  <%- names_and_ids =  field.data.map { |e| {name: e.name, id: e.id, slug: e.try(:slug)} } %>  
  <%- klass =  field.data[0].class.name %>  

  <% names_and_ids.each do |name_and_id| %>
    <span>
      <% if klass == "Tag" %>
        <%= link_to name_and_id[:name], admin_tag_path(name_and_id[:id]) %>
      <% elsif klass == "Rule" %>
        <%= link_to name_and_id[:name], admin_rule_path(name_and_id[:id]) %>
      <% elsif klass == "AxleFilter" %>
        <%= link_to name_and_id[:name], admin_axle_filter_path(name_and_id[:id]) %>
      <% elsif klass == "NeedFilter" %>
        <%= link_to name_and_id[:name], admin_need_filter_path(name_and_id[:id]) %>
      <% elsif klass == "Aid" %>
        <div>
          <%= link_to name_and_id[:name], admin_aid_path(name_and_id[:slug]) %>
        </div>
      <% end %>
    </span>
    <% unless name_and_id[:name] == names_and_ids.last[:name] || klass == "Aid" %>
      <span>,&nbsp;</span>
    <% end %>
  <% end %>

<% else %>
  <%= t("administrate.fields.has_many.none", default: "–") %>
<% end %>

