- title_data "#{@aid.name}"
- aid = @loaded[:aid]
- has_active_user = !!params[:for_id]

%main#main.c-detail-show{role: "main"}

  %h2.c-detail-title
    .c-detail-title-inside.u-useful-width.u-margin-constraint
      = aid[:name]
  
  .u-useful-width.u-margin-constraint
    .c-detail-goback{"onclick" =>"window.history.back();"}
      %strong < Retour
    
    #c-detail-app
      .grid-reverse
        .col-8_md-12
          .c-detail-list
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Description',          html_content: aid[:what] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Conditions à remplir', html_content: aid[:additionnal_conditions] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Contenu de l\'aide',   html_content: aid[:how_much] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Demande',              html_content: aid[:how_and_when] }
            = render partial: 'shared/detail_item_remark.haml', locals: { content: aid[:limitations] }
        .col-4-first_md-12
          - if has_active_user
            .c-detail-why-container
              = render partial: 'shared/detail_why.haml', locals: { ability: @loaded[:is_eligible], root_condition: @loaded[:root_condition], root_rules: @loaded[:root_rules] }
            .c-detail-warning
              %p Simulation non contractuelle tenant compte des éléments déclarés et appréciés le #{Time.now.strftime("%d/%m/%Y")}
          - else
            = render partial: 'shared/detail_void.haml'


    - if has_active_user
      .c-detail-back
        = link_to 'Retour à la liste', aides_path + '?for_id='+ params[:for_id], :class => 'c-navbutton c-navbutton--back js-previous';

