- aid = @loaded[:aid]
- contract = @loaded[:contract]
- title_data "#{aid[:name]}"
- description_data "#{aid[:what]}"
- has_active_user = !!params[:for_id]

%main#main.c-detail-show{role: "main"}

  = render 'shared/breadcrumb', {contract: @loaded[:contract], ability: @loaded[:is_eligible]}

  %h1.c-detail-title.u-margin-bottom-none
    .c-detail-title-inside.u-useful-width.u-margin-constraint
      = aid[:name]
  
  .u-useful-width.u-margin-constraint.u-margin-vertical-small
    .c-detail-goback.u-margin-bottom-small{"onclick" =>"window.history.back();"}
      %strong < Retour
    
    #c-detail-app
      .o-layout
        .o-layout__item{:class => "u-1/1 u-3/4@desktop"}
          .c-detail-list
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Description',          html_content: aid[:what] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Conditions à remplir', html_content: aid[:additionnal_conditions] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Contenu de l\'aide',   html_content: aid[:how_much] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Demande',              html_content: aid[:how_and_when] }
            = render partial: 'shared/detail_item_remark.haml', locals: { content: aid[:limitations] }
        .o-layout__item{:class => "u-1/1 u-1/4@desktop"}
          - if has_active_user
            .c-detail-why-container
              = render partial: 'shared/detail_why.haml', locals: { ability: @loaded[:is_eligible], root_condition: @loaded[:root_condition], root_rules: @loaded[:root_rules] }
            .c-detail-warning
              %p.u-margin-bottom-none Simulation non contractuelle tenant compte des éléments déclarés et appréciés le #{Time.now.strftime("%d/%m/%Y")}
          - else
            = render partial: 'shared/detail_void.haml'


    - if has_active_user
      .c-detail-back
        = link_to 'Tous les résultats', aides_path + '?for_id='+ params[:for_id], :class => 'c-navbutton c-navbutton--back c-navbutton--allresults js-previous';

