<% content_for(:title) do %>
  <%= 'RuleCheck!' %>
<% end %>

<header class="main-content__header" role="banner">

</header>

<section class="main-content__body main-content__body--flush">

<table id="table-rule-check">
  <tr>
    <th>output</th>
    <th>check</th> 
    <th>rule</th>
    <th>description</th>
  </tr>
  <% @all_rules_composition.each do |r| %>
    <tr data-carrier="<%= r[:result] %>" data-link="<%= r[:link] %>">
      <td class='rule-result'><%= r[:result] %></td>
      <td><%= r[:type] %></td> 
      <td><%= r[:name] %></td>
      <td><%= r[:description] %></td>
    </tr>
  <% end %>
</table>


</section>
