- id ||= ""
- value ||= ""
- text ||= ""

.c-radioline.c-cookies-form-line.js-enterspace{id: "radio_#{id}"}
  = radio_button_tag "choices[#{choice}]", |
      "#{id}", |
      "#{value}" == "#{id}", | 
      id: "#{id}", |
      required: 'required', |
      class: 'c-radioinput'
  %label.c-radiolabel.u-padding-left-small{for: "#{id}"}
    =text
