- id ||= ""
- value ||= ""
- text ||= ""

.c-radioline.js-enterspace{id: "radio_#{id}"}
  = radio_button_tag "choices[analytics]", |
      "#{id}", |
      "#{value}" == "#{id}", | 
      id: "#{id}", |
      required: 'required', |
      class: 'c-radioinput'
  %label.c-radiolabel.u-padding-left-small{for: "#{id}"}
    =text
