- aides ||= []
- dispositifs ||= []
- the_request ||= OpenStruct.new

- v = view_object(:footer, {aides: aides, dispositifs: dispositifs, the_request: the_request})

- if v.should_display_footer
  .c-footer.u-padding-vertical-large{"class" => v.current_mode}
    .u-useful-width.u-margin-constraint
      .o-layout
      
        .o-layout__item{:class=>"u-1/1 u-1/3@tablet"}
          .c-footer__content.first
            .c-footer-cgu
              = link_to "Conditions générales d'utilisation", conditions_generales_d_utilisation_path
              = link_to "Nous contacter", contact_index_path
            - if v.current_mode == 'home'
              .mts
              = render 'shared/footer_motherhome'

        .o-layout__item{:class=>"u-1/1 u-1/3@tablet"}
          .c-footer__content.second{"class" => v.content_css}
            - if v.current_mode == 'home'
              - if v.display_title_aides
                .c-footer__contenttitle.c-footer__contenttitle--aides
                  AIDES
              - v.type_aides.each_with_index do |type_aide, i|
                = link_to "#{type_aide['name']}", type_path(type_aide['slug']), {"class" => ["c-footer-internal-link", "c-footer__link-to-aides"]}
            = v.link_to_all_aides
            
        .o-layout__item{:class=>"u-1/1 u-1/3@tablet"}
          .c-footer__content.third
            - if v.current_mode == 'home'
              - if v.display_title_dispositifs
                .c-footer__contenttitle.c-footer__contenttitle--dispositifs
                  DISPOSITIFS
              - v.type_dispositifs.each_with_index do |type_aide, i|
                = link_to "#{type_aide['name']}", type_path(type_aide['slug']), {"class" => ["c-footer-internal-link", "c-footer__link-to-dispositifs"]}
            - else
              = render 'shared/footer_motherhome'


