- aides ||= []
- dispositifs ||= []
- the_request ||= OpenStruct.new

- v = view_object(:footer, {aides: aides, dispositifs: dispositifs, the_request: the_request})

- if v.should_display_footer
  .c-footer.u-padding-vertical-large
    .u-useful-width.u-margin-constraint
      .o-layout
        .o-layout__item{:class=>"u-1/1 u-1/3@tablet"}
          .c-footer__content
            %table
              %tr
                %td{:colspan => "2"}
                  %strong Navigation sur Clara : 
                  = v.link_to_all_aides
              - v.links_to_all_contract_types.each_slice(2) do |row|  
                %tr
                  - row.each do |ct|
                    %td 
                      =ct[:link]  

        .o-layout__item{:class=>"u-1/1 u-1/3@tablet"}
          .c-footer__content.u-text--center
            .c-footer-cgu
              %strong Liens utiles :
              %br
              = link_to "Conditions générales d'utilisation", conditions_generales_d_utilisation_path
              = link_to "Nous contacter", contact_index_path
              = link_to "RGPD", edit_cooky_path('preference')
              = link_to "Cookies et politique de confidentialité", confidentiality_index_path
              = link_to "Accessibilité", accessibilite_path

      

      .o-layout__item{:class=>"u-1/1 u-1/3@tablet"}
      .o-layout__item{:class=>"u-1/1 u-1/3@tablet"}
        .c-footer__content.u-text--center
          = render 'shared/footer_motherhome'
      .o-layout__item{:class=>"u-1/1 u-1/3@tablet"}
