- aides ||= []
- dispositifs ||= []
- the_request ||= OpenStruct.new

- v = view_object(:footer, {aides: aides, dispositifs: dispositifs, the_request: the_request})

- if v.should_display_footer
  .c-footer.u-padding-vertical-large
    .u-useful-width.u-margin-constraint
      .o-layout
        .o-layout__item{:class=>"u-3/4@desktop u-1/2@tablet"}
          .c-footer__content
            %strong Navigation sur Clara :
            %br 
            - v.splitted_array_of_contract
            .o-layout
              .o-layout__item{:class=>"u-1/2@desktop u-1/2@tablet"}       
                = v.link_to_all_aides
                - v.first_part_of_contract_type.each do |ct|  
                  %li
                    =ct
              .o-layout__item{:class=>"u-1/2@desktop u-1/2@tablet"} 
                - v.second_part_of_contract_type.each do |ct|      
                  %li
                    =ct 

        .o-layout__item{:class=>"u-1/4@desktop u-1/2@tablet"}
          .c-footer__content
            .c-footer-cgu
              %strong Liens utiles :
              %br
              = link_to "Conditions générales d'utilisation", conditions_generales_d_utilisation_path
              = link_to "Nous contacter", contact_index_path
              = link_to "Cookies et politique de confidentialité", confidentiality_index_path
              = link_to "Accessibilité", accessibilite_path

      .u-padding-vertical-large
        .o-layout
          %hr
          .o-layout__item.u-text--center{:class=>"u-1/1 u-1/3@tablet"}
          .o-layout__item.u-text--center{:class=>"u-1/1 u-1/3@tablet"}
            = render 'shared/footer_motherhome'
          .o-layout__item.u-text--center{:class=>"u-1/1 u-1/3@tablet"}

