.c-newhomeexample.u-padding-vertical-large
  .u-useful-width.u-margin-constraint
    %h2.c-newhomeexample__title Quelques exemples d'aides
    %p.c-newhomeexample__subtitle Clara calcule votre éligibilité sur #{nb_of_active_aids} aides et mesures
    .c-newhomeexample__cards.o-layout
      %a.c-newhomeexample__card.o-layout__item{:class => "u-1/1 u-1/4@tablet", href: type_path(slug_of_creation)}
        .c-newhomeexample__card-svg.c-newhomeexample__card-svg1
          = image_tag(empty_image, alt: "Petite entreprise", data: { "src" => image_path("logo-exemple-creation.svg") }) 
        .c-newhomeexample__card-title <strong>Création, reprise d'entreprise</strong>
        .c-newhomeexample__card-txt.first Maintien de votre
        .c-newhomeexample__card-txt indemnisation ou versement
        .c-newhomeexample__card-txt d'un capital de départ
        .c-newhomeexample__card-plus 
          En savoir plus >
      %a.c-newhomeexample__card.o-layout__item{:class => "u-1/1 u-1/4@tablet", href: type_path(slug_of_amob)}
        .c-newhomeexample__card-svg.c-newhomeexample__card-svg2
          = image_tag(empty_image, alt: "Voiture dans un garage", data: { "src" => image_path("logo-exemple-amob.svg") }) 
        .c-newhomeexample__card-title <strong>Mobilité</strong>
        .c-newhomeexample__card-txt.first Participation aux frais de
        .c-newhomeexample__card-txt déplacement, repas,
        .c-newhomeexample__card-txt hébergement
        .c-newhomeexample__card-plus
          En savoir plus >
      %a.c-newhomeexample__card.o-layout__item{:class => "u-1/1 u-1/4@tablet", href: type_path(slug_of_alternance)}
        .c-newhomeexample__card-svg.c-newhomeexample__card-svg3
          = image_tag(empty_image, alt: "Contrat avec un stylo", data: { "src" => image_path("logo-exemple-alternance.svg") }) 
        .c-newhomeexample__card-title <strong>Alternance</strong>
        .c-newhomeexample__card-txt.first Professionnalisation
        .c-newhomeexample__card-txt et apprentissage
        .c-newhomeexample__card-txt.more &nbsp;
        .c-newhomeexample__card-plus
          En savoir plus >
      %a.c-newhomeexample__card.o-layout__item{:class => "u-1/1 u-1/4@tablet", href: type_path(slug_of_project)}
        .c-newhomeexample__card-svg.c-newhomeexample__card-svg4
          = image_tag(empty_image, alt: "Des gens autour d'une table", data: { "src" => image_path("logo-exemple-projetpro.svg") }) 
        .c-newhomeexample__card-title <strong>Projet professionnel</strong>
        .c-newhomeexample__card-txt.first Aide à l'orientation,
        .c-newhomeexample__card-txt immersion professionnelle
        .c-newhomeexample__card-txt.more &nbsp;
        .c-newhomeexample__card-plus
          En savoir plus >
