.c-newhomehero
  .c-newhomehero__header
    .u-useful-width.u-margin-constraint
      = render 'shared/logozone'

  .c-newhomehero__content.u-padding-vertical-large
    .u-useful-width.u-margin-constraint
      .o-layout.o-layout--middle
        .o-layout__item{:class => "u-1/1 u-1/2@desktop"}
          %h1{:class => "u-text--center u-textalign-left-from@desktop"} 
            .c-newhomehero__title Découvrez les aides et mesures 
            .c-newhomehero__title qui vont accélérer votre  
            .c-newhomehero__title reprise d'emploi
          = form_with url: welcome_start_wizard_path, :local => true, id: 'start_wizard_form', class: "c-newhomehero__cta" do |f|
            = f.submit 'Je commence', class: 'c-main-cta'
        .o-layout__item{:class => "u-1/1 u-1/2@desktop"}
          %div{:class => "u-hide u-show@desktop"}
            = image_tag(empty_image, alt: "Des gens entrain d'utiliser Clara", data: { "src" => image_path("home-hero.svg") }) 
      .o-layout{:class => "u-hide u-show@desktop"}
        .o-layout__item{:class => "u-1/1 u-1/2@desktop"}
        .o-layout__item{:class => "u-1/1 u-1/2@desktop"}
          %ul.o-line
            %li.o-line__item
              .c-fse-logo
                %a{:href => "http://www.fse.gouv.fr/", :rel => "noopener noreferrer", :target => "_blank", :title => "Site du Fonds Social Européen (Ouverture dans une nouvelle fenêtre)", "aria-label" => "Site du Fonds Social Européen (Ouverture dans une nouvelle fenêtre)"}
                  = image_tag(empty_image, alt: "Site du Fonds Social Européen (Ouverture dans une nouvelle fenêtre)", data: { "src" => image_path("logo-fse.svg") }) 
            %li.o-line__item
              .c-fse-logo-pe
                %a{:href => "https://www.pole-emploi.fr/accueil/", :rel => "noopener noreferrer", :target => "_blank", :title => "Clara est un service de Pôle Emploi - Site de Pôle emploi (Ouverture dans une nouvelle fenêtre)", "aria-label" => "Clara est un service de Pôle Emploi - Site de Pôle emploi (Ouverture dans une nouvelle fenêtre)"}
                  = image_tag(empty_image, alt: "Pôle Emploi", data: { "src" => image_path("logo-pe.svg") }) 
            %li.o-line__item
              .c-fse-logo-ue
                %a{:href => "https://europa.eu/european-union/index_fr", :rel => "noopener noreferrer", :target => "_blank", :title => "Site officiel de l'Union européenne (Ouverture dans une nouvelle fenêtre)", "aria-label" => "Union européenne - Site officiel de l'Union européenne (Ouverture dans une nouvelle fenêtre)"}
                  = image_tag(empty_image, alt: "Site officiel de l'Union européenne (Ouverture dans une nouvelle fenêtre)", data: { "src" => image_path("logo-ue.svg") }) 
            %li.o-line__item
              .c-fse-p
                %p
                  Ce dispositif est cofinancé par le Fonds Social Européen dans le cadre du Programme opérationnel national "Emploi et inclusion" 2014-2020
    
               
              


