- id ||= ""
- value ||= ""
- text ||= ""

.c-radioline.js-enterspace{id: "radio_#{id}"}
  = radio_button_tag "inscription_form[value]", |
      "#{id}", |
      "#{value}" == "#{id}", | 
      id: "#{id}", |
      class: 'c-radioinput', | 
      onfocusout: "$('#radio_#{id}').toggleClass( 'is-activated' )", |
      onfocusin: "$('#radio_#{id}').toggleClass( 'is-activated' )" |
  %label.c-radiolabel.u-padding-left-small{for: "#{id}"}
    =text
