- display_search ||= false
.c-logozone.o-line
  .o-line__item
    %a.c-logozone--clara{href: root_path}
      = image_tag("logo-clara.svg", alt: "Clara, Vos aides en un clic – site en version Bêta" )
    %a.c-logozone--pe{href: "https://www.pole-emploi.fr/"}
      = image_tag("logo-pe.svg", alt: "Pôle Emploi")
  - if display_search
    .o-line__item{"class" => "u-hide u-show@tablet"}
      = form_with url: aides_search_for_aids_path, id: "search_front", :class => "c-search-front" do |form|
        = form.text_field :plain_text_search, value: "usearch", id: "usearch_input", :class => "c-search-front-usearch", :placeholder => "Rechercher une aide"
        = form.hidden_field :page_nb, value: "page", id: "page_nb_input", :class => "c-search-pagenb"
        = form.hidden_field :previous_search, value: "usearch", id: "previous_search", :class => "c-search-previous-search"
        = form.submit '', :class => "c-search-front-submit"
    
