- aids = local_assigns["aids"]
- total_nb = local_assigns["total_nb"]
- page = request.query_parameters["page"]
- usearch = request.query_parameters["usearch"]
.c-result-all.u-useful-width.u-margin-constraint

  %h1.c-result-all-title Toutes nos aides

  = form_with url: aides_search_for_aids_path, id: "search_form", :class => "c-search-form" do |form|
    = form.text_field :plain_text_search, value: usearch, id: "usearch_input", :class => "c-search-usearch", :placeholder => "Rechercher une aide ou un mot clé"
    = form.hidden_field :page_nb, value: page, id: "page_nb_input", :class => "c-search-pagenb"
    = form.submit "&#128269;Chercher".html_safe, :class => "c-search-form-submit"

  - if usearch
    %h2.c-result-all-subtitle
      #{total_nb} Aide(s) ou mesure(s) sont disponibles pour cette recherche  
  - else
    %h2.c-result-all-subtitle
      #{total_nb} aides et mesures sont disponibles sur Clara

  .o-layout
    .o-layout__item{:class => "u-1/1 u-3/4@desktop"}
      - if aids.size > 0
        = render 'shared/result_line', {hide_title: true, aids: aids}

    .o-layout__item{:class => "u-1/1 u-1/4@desktop"}
      = render 'shared/detail_void'

  = paginate @aids, params: {usearch: request.query_parameters["usearch"]}
