- v = view_object(:result_default, local_assigns)

%script#emptyTemplate.u-hidden{:type => "text/ko-template"}
  <div></div>

%script#filtertagTemplate.u-hidden{:type => "text/ko-template"}
  :plain
    <div class="c-filterstag__item">
      <div class="c-filtertag">
        <div class="o-layout o-layout--flush">
          <div class="o-layout__item u-5/6 u-text--left c-filtertag__text"></div>
          <div class="o-layout__item u-1/6 u-text--right c-filtertag__close">
            &nbsp;&#x2716;
          </div>
        </div>
      </div>
    </div>

.c-result-default
  .u-useful-width.u-margin-constraint
    .o-layout
      .o-layout__item{class:"u-1/1 u-1/3@tablet"}


        .c-filterings-area.u-margin-bottom-small
          .c-filterings-area__content
            %button.c-mask-filter.u-padding-none
              .c-mask-filter__content.u-padding-vertical-small.js-filters-zone
                %span.c-mask-filter__text
                  Ouvrir les filtres       
                %span.c-mask-filter__caret
                  &nbsp;&or;
              
            %fieldset.c-resultfilterings
              %legend.u-padding-vertical-small.u-padding-left-small Chercher les aides pour
              #o_all_filters
                - flat_all_filter.each_with_index do |a_filter, i|
                  .c-resultfiltering.u-padding-small{class:"#{'c-resultfiltering--even' if (i%2 == 0)}", "data-name" => "#{a_filter['name']}"}
                    %input{:id => "check_#{i}", :type => "checkbox"}/
                    %label.u-margin-left-small{"for" => "check_#{i}"}=a_filter["description"]

        = render 'shared/result_situation', asker

      %div{class:"o-layout__item u-1/1 u-2/3@tablet"}



        #o_filterstag
          .c-filterstag-container
            .c-filterstag.u-text--left
      



        #o_eligibles
          .c-resulteligy
            .u-display-flex
              %div
                %h3.c-result-youcan="Vous pouvez bénéficier de"
              .u-display-flex.u-margin-left-auto
                %div{"class" => "u-hide-until@wide"}
                  %button{"class" => "c-btn c-btn--small c-btn--result"}
                    Tout déplier <span class="c-resultcaret"><strong>&nbsp;&or;</strong></span>
                  %button{"class" => "c-btn c-btn--small c-btn--result"}
                    Tout replier <span class="c-resultcaret"><strong>&nbsp;&and;</strong></span>
            #o_aids_per_contract{"data-bind" => "foreachInit: {data: o_aids_per_contract, name: 'emptyTemplate' }"}
              - v.sort_and_order("flat_all_eligible").each_with_index do |aids_per_contract, i|
                .c-resultcard.c-resultcard--green{"data-cslug" => v.slug_for(aids_per_contract)}
                  .c-resultcard__inner.o-layout.o-layout--middle.o-layout--flush.u-padding-horizontal-tiny
                    %div{class:"o-layout__item u-3/4"}   
                      .o-flag.o-flag--flush.c-resultcontract
                        .o-flag__img{class:"u-hide-until@wide"}
                          =v.icon_for(aids_per_contract)
                        .o-flag__body
                          %h4.c-resultcontract-title
                            %span.c-resultcontract-title__number
                              =aids_per_contract.size
                            %span.c-resultcontract-title__text
                              =v.title_for(aids_per_contract)
                          %p.c-resultcontract_descr
                            =v.descr_for(aids_per_contract)
                    %div{"class"=>"o-layout__item u-1/4 u-text--right", "aria-hidden"=>"true"}   
                      %button{"class" => "c-btn c-btn--small c-btn--result"} <span class="c-resultcaretopen u-hide-until@wide">Ouvrir</span><span class="c-resultcaret"><strong>&nbsp;&or;&nbsp;</strong></span>
                      %button{"class" => "c-btn c-btn--small c-btn--result"} <span class="c-resultcaretclose u-hide-until@wide">Replier</span><span class="c-resultcaret"><strong>&nbsp;&and;&nbsp;</strong></span>
                  .c-resultaids
                    - aids_per_contract.each do |aid|
                      .c-resultaid{"data-aslug" => aid["slug"]}
                        .o-layout.o-layout--middle.o-layout--flush
                          %div{class:"o-layout__item u-3/4"}   
                            %h5=aid["name"]
                            %p.u-margin-bottom-none=aid["short_description"]
                            %ul.o-list-inline.u-margin-bottom-none
                              - v.filters_of(aid).each do |one_filter|
                                %li.o-list-inline__item.c-resultfilter.u-margin-top-tiny{"data-name" => one_filter["name"]}=one_filter["description"]
                          %div{class:"o-layout__item u-1/4 u-text--right"}
                            %a.c-btn.c-btn--primary.c-btn--aid{class:"u-padding-vertical-tiny@desktop u-padding-horizontal@desktop", href:"#{v.link_to_aid_detail(aid)}"}  En savoir plus
        





        #o_uncertains.u-margin-top-large{"data-bind" => "with: o_uncertains"}
          .c-resulteligy{"data-bind" => "css: cssZoneDisplay"}
            .u-display-flex
              %div
                %h3.c-result-youcan="Vous pourriez peut-être bénéficier de"
              .u-display-flex.u-margin-left-auto
                %div{"class" => "u-hide-until@wide"}
                  %button{"class" => "c-btn c-btn--small c-btn--result"}
                    Tout déplier <span class="c-resultcaret"><strong>&nbsp;&or;</strong></span>
                  %button{"class" => "c-btn c-btn--small c-btn--result u-margin-left-tiny"}
                    Tout replier <span class="c-resultcaret"><strong>&nbsp;&and;</strong></span>
            #o_aids_per_contract
              - v.sort_and_order("flat_all_uncertain").each_with_index do |aids_per_contract, i|
                .c-resultcard.c-resultcard--green{"data-cslug" => v.slug_for(aids_per_contract)}
                  .c-resultcard__inner.o-layout.o-layout--middle.o-layout--flush.u-padding-horizontal-tiny
                    %div{class:"o-layout__item u-3/4"}   
                      .o-flag.o-flag--flush.c-resultcontract
                        .o-flag__img{class:"u-hide-until@wide"}
                          =v.icon_for(aids_per_contract)
                        .o-flag__body
                          %h4.c-resultcontract-title
                            %span.c-resultcontract-title__number
                              =aids_per_contract.size
                            %span.c-resultcontract-title__text
                              =v.title_for(aids_per_contract)
                          %p.c-resultcontract_descr
                            =v.descr_for(aids_per_contract)
                    %div{"class"=>"o-layout__item u-1/4 u-text--right", "aria-hidden"=>"true"}   
                      %button{"class" => "c-btn c-btn--small c-btn--result","data-bind" => "click: clickedOpenClose, css: closedClass"} <span class="c-resultcaretopen u-hide-until@wide">Ouvrir</span><span class="c-resultcaret"><strong>&nbsp;&or;&nbsp;</strong></span>
                      %button{"class" => "c-btn c-btn--small c-btn--result","data-bind" => "click: clickedOpenClose, css: openedClass"} <span class="c-resultcaretclose u-hide-until@wide">Replier</span><span class="c-resultcaret"><strong>&nbsp;&and;&nbsp;</strong></span>
                  .c-resultaids
                    - aids_per_contract.each do |aid|
                      .c-resultaid{"data-aslug" => aid["slug"], "data-bind" => "css: visibleClass"}
                        .o-layout.o-layout--middle.o-layout--flush
                          %div{class:"o-layout__item u-3/4"}   
                            %h5=aid["name"]
                            %p.u-margin-bottom-none=aid["short_description"]
                            %ul.o-list-inline.u-margin-bottom-none{"data-bind" => "foreachInit: {data: o_filtersmalltags, name: 'emptyTemplate' }"}
                              - v.filters_of(aid).each do |one_filter|
                                %li.o-list-inline__item.c-resultfilter.u-margin-top-tiny{"data-bind" => "css: filtersmalltagClass", "data-name" => one_filter["name"]}=one_filter["description"]
                          %div{class:"o-layout__item u-1/4 u-text--right"}
                            %a.c-btn.c-btn--primary.c-btn--aid{class:"u-padding-vertical-tiny@desktop u-padding-horizontal@desktop", href:"#{v.link_to_aid_detail(aid)}"}  En savoir plus
        




        #o_ineligibles{"data-bind" => "with: o_ineligibles"}
          .o_ineligibles__content{"data-bind" => "css: cssZoneDisplay"}
            .o-list-inline.u-margin-top-large
              .o-list-inline__item
                %h3.u-margin-bottom-none="Vous ne pouvez pas bénéficier de"
              .o-list-inline__item
                %button.c-hide-button.u-margin-left-tiny.u-padding-horizontal{"data-bind" => "click: o_hideClick, text: o_hideText"} Voir
            .c-resulteligy.u-margin-top-small{"data-bind" => "css: o_hideCss"}
              .u-display-flex
                %div
              .u-display-flex
                .u-margin-left-auto{"class" => "u-hide-until@wide"}
                  %button{"class" => "c-btn c-btn--small c-btn--result","data-bind" => "click: sesameOpen, css: foldClass"}
                    Tout déplier <span class="c-resultcaret"><strong>&nbsp;&or;</strong></span>
                  %button{"class" => "c-btn c-btn--small c-btn--result","data-bind" => "click: sesameClose, css: unfoldClass"}
                    Tout replier <span class="c-resultcaret"><strong>&nbsp;&and;</strong></span>
                %div{:style => "clear: both;"}
              #o_aids_per_contract{"data-bind" => "foreachInit: {data: o_aids_per_contract, name: 'emptyTemplate' }"}
                - v.sort_and_order("flat_all_ineligible").each_with_index do |aids_per_contract, i|
                  .c-resultcard.c-resultcard--green{"data-cslug" => v.slug_for(aids_per_contract), "data-bind" => "css: displayClass"}
                    .c-resultcard__inner.o-layout.o-layout--middle.o-layout--flush.u-padding-horizontal-tiny
                      %div{class:"o-layout__item u-3/4"}   
                        .o-flag.o-flag--flush.c-resultcontract
                          .o-flag__img{class:"u-hide-until@wide"}
                            =v.icon_for(aids_per_contract)
                          .o-flag__body
                            %h4.c-resultcontract-title
                              %span.c-resultcontract-title__number{"data-bind" => "text: numberOfAidsPerContract"}
                                =aids_per_contract.size
                              %span.c-resultcontract-title__text
                                =v.title_for(aids_per_contract)
                            %p.c-resultcontract_descr
                              =v.descr_for(aids_per_contract)
                      %div{"class"=>"o-layout__item u-1/4 u-text--right", "aria-hidden"=>"true"}   
                        %button{"class" => "c-btn c-btn--small c-btn--result"} <span class="c-resultcaretopen u-hide-until@wide">Ouvrir</span><span class="c-resultcaret"><strong>&nbsp;&or;&nbsp;</strong></span>
                        %button{"class" => "c-btn c-btn--small c-btn--result"} <span class="c-resultcaretclose u-hide-until@wide">Replier</span><span class="c-resultcaret"><strong>&nbsp;&and;&nbsp;</strong></span>
                    .c-resultaids
                      - aids_per_contract.each do |aid|
                        .c-resultaid{"data-aslug" => aid["slug"]}
                          .o-layout.o-layout--middle.o-layout--flush
                            %div{class:"o-layout__item u-3/4"}   
                              %h5=aid["name"]
                              %p.u-margin-bottom-none=aid["short_description"]
                              %ul.o-list-inline.u-margin-bottom-none
                                - v.filters_of(aid).each do |one_filter|
                                  %li.o-list-inline__item.c-resultfilter.u-margin-top-tiny{"data-name" => one_filter["name"]}=one_filter["description"]

                            %div{class:"o-layout__item u-1/4 u-text--right"}
                              %a.c-btn.c-btn--primary.c-btn--aid{class:"u-padding-vertical-tiny@desktop u-padding-horizontal@desktop", href:"#{v.link_to_aid_detail(aid)}"}  En savoir plus
          




        .c-result-warning.u-margin-vertical
          %p.c-result-warning__line Simulation non contractuelle tenant compte des éléments déclarés et appréciés le #{Time.now.strftime("%d/%m/%Y")}
          %p.c-result-warning__line Clara n'intègre pas encore les spécificités des aides et mesures applicables dans les régions et collectivités d'Outre Mer.
                    
