.c-result-all.u-useful-width.u-margin-constraint
  %h1.c-result-all-title Toutes nos aides
  = form_with url: aides_search_for_aids_path do |form|
    = form.text_field :plain_text_search, value: params[:usearch]
    = form.hidden_field :page_nb, value: params[:page]
    = form.submit "Chercher"
  .o-layout
    .o-layout__item{:class => "u-1/1 u-3/4@desktop"}
      = @stuff
      = paginate @aids
      - if local_assigns["aids"]
        - local_assigns["aids"].group_by{|e| e["contract_type_id"]}.each_value do |aids|
          = render 'shared/result_line', {hide_title: true, aids: aids, contract: local_assigns["contracts"].detect{|e| e["id"] == aids[0]["contract_type_id"]}}

    .o-layout__item{:class => "u-1/1 u-1/4@desktop"}
      = render 'shared/detail_void'
  %nav
