.c-result-all.u-useful-width.u-margin-constraint
  %h1.c-result-all-title Toutes nos aides
  %h4=params[:usearch]
  %h4=params[:page]
  = form_with url: aides_search_for_aids_path, id: "search_form", :class => "c-search-form" do |form|
    = form.text_field :plain_text_search, value: params[:usearch], id: "usearch_input", :class => "c-search-usearch"
    = form.hidden_field :page_nb, value: params[:page], id: "page_nb_input", :class => "c-search-pagenb"
    = form.submit "Chercher"
  .o-layout
    .o-layout__item{:class => "u-1/1 u-3/4@desktop"}
      = @stuff
      = paginate @aids
      - if local_assigns["aids"]
        = render 'shared/result_line', {hide_title: true, aids: local_assigns["aids"]}

    .o-layout__item{:class => "u-1/1 u-1/4@desktop"}
      = render 'shared/detail_void'
  %nav
