- v = view_object(:result_default, local_assigns)

%script#emptyTemplate.u-hidden{:type => "text/ko-template"}
  <div></div>

.c-result-default.o-wrapper
  .o-layout
    %div{class:"o-layout__item u-1/1 u-1/4@tablet"}
      %div.c-filterings-area
        %button.c-mask-filter.u-padding-vertical-small
          Masquer les filtres <span>&nbsp;&or;</span>        
            
        %fieldset.c-resultfilterings
          %legend.u-padding-vertical-small.u-padding-left-small Chercher les aides pour
          #o_filters{"data-bind" => "foreachInit: {data: o_filters, name: 'emptyTemplate' }"}
            - flat_all_filter.each_with_index do |a_filter, i|
              %div.c-resultfiltering.u-padding-small{class:"#{'c-resultfiltering--even' if (i%2 == 0)}"}
                %input{:id => "check_#{i}", :name => "newsletter", :type => "checkbox", "data-bind" => "checked: isActive"}/
                %label.u-margin-left-small{"for" => "check_#{i}"}=a_filter["description"]

    %div{class:"o-layout__item u-1/1 u-3/4@tablet"}
      #o_eligibles{"data-bind" => "with: o_eligibles"}
        %h3="Vous pouvez bénéficier de #{v.eligible_size} aides et mesures"
        .u-text--right.u-margin-bottom-small
          %button.c-btn.c-btn--small.c-btn--result{"data-bind" => "click: sesameOpen, css: foldClass"}
            Tout déplier <span class="c-resultcaret"><strong>&nbsp;&or;</strong></span>
          %button.c-btn.c-btn--small.c-btn--result{"data-bind" => "click: sesameClose, css: unfoldClass"}
            Tout replier <span class="c-resultcaret"><strong>&nbsp;&and;</strong></span>
        #o_aids_per_contract{"data-bind" => "foreachInit: {data: o_aids_per_contract, name: 'emptyTemplate' }"}
          - v.sort_and_order("flat_all_eligible").each_with_index do |aids_per_contract, i|
            .c-resultcard.c-resultcard--green{class:"#{'c-resultcard--notfirst' if i != 0}", "data-cslug" => v.slug_for(aids_per_contract)}
              .c-resultcard__inner.o-layout.o-layout--middle.o-layout--flush
                %div{class:"o-layout__item u-3/4"}   
                  .o-flag.o-flag--flush.c-resultcontract
                    .o-flag__img{class:"u-hide-until@tablet"}
                      =v.icon_for(aids_per_contract)
                    .o-flag__body
                      .u-hidden.c-resultcontract_slug
                        =v.slug_for(aids_per_contract)
                      %h4.c-resultcontract_title
                        =v.title_for(aids_per_contract)
                      %p.c-resultcontract_descr
                        =v.descr_for(aids_per_contract)
                %div{"class"=>"o-layout__item u-1/4 u-text--right", "aria-hidden"=>"true"}   
                  %button.c-btn.c-btn--small.c-btn--result{"data-bind" => "click: clickedOpenClose, css: closedClass"} Ouvrir <span class="c-resultcaret"><strong>&nbsp;&or;</strong></span>
                  %button.c-btn.c-btn--small.c-btn--result{"data-bind" => "click: clickedOpenClose, css: openedClass"} Replier <span class="c-resultcaret"><strong>&nbsp;&and;</strong></span>
              .c-resultaids{"data-bind" => "css: openedClass"}
                - aids_per_contract.each do |aid|
                  .c-resultaid
                    .o-layout.o-layout--middle.o-layout--flush
                      %div{class:"o-layout__item u-3/4"}   
                        %h5=aid["name"]
                        %p=aid["short_description"]
                        %ul.o-list-inline
                        - v.filters_of(aid).each do |one_filter|
                          %li.o-list-inline__item.c-resultfilter.u-margin-top-tiny=one_filter["description"]
                      %div{class:"o-layout__item u-1/4 u-text--right"}
                        %button.c-btn.c-btn--primary.c-btn--aid{class:"u-padding-vertical-tiny@desktop u-padding-horizontal@desktop"}  En savoir plus
      .c-result-warning
        %p.c-result-warning__line Simulation non contractuelle tenant compte des éléments déclarés et appréciés le #{Time.now.strftime("%d/%m/%Y")}
        %p.c-result-warning__line Clara n'intègre pas encore les spécificités des aides et mesures applicables dans les régions et collectivités d'Outre Mer.
                  
