<%- v = view_object(:navigation) %>

<nav class="navigation" role="navigation">

  <%= link_to(
    "Rubriques",
    admin_contract_types_path,
    class: "navigation__link navigation__link--#{nav_link_state('contract_types')}"
  ) %>      
  <%= link_to(
    "Aides",
    admin_aids_path,
    class: "navigation__link navigation__link--#{nav_link_state('aids')}"
  ) %>      
  <%= link_to(
    "Règles",
    admin_rules_path,
    class: "navigation__link navigation__link--#{nav_link_state('rules')}"
  ) %>      
  <%= link_to(
    "Filtres",
    admin_get_all_filters_menu_path,
    class: v.filter_clazz(request)
  ) %>      
  
  <%= link_to("Administration", admin_get_hidden_admin_path) %> 
  
</nav>
