- title_data "Votre montant d'allocation"
- raw_description = 'Quel est le montant net journalier de cette allocation ?'
- description_data(raw_description)

- has_error = !(flash[:error].blank?)
- if has_error
  - classes_of_input = ['c-field', 'is-error']
  - classes_of_are_form = ['c-are__form', 'is-error']
  - aria_described_by_of_input = ['minimum-descr', 'minimum-descr-error']
- else
  - classes_of_input = ['c-field']
  - classes_of_are_form = ['c-are__form']
  - aria_described_by_of_input = ['minimum-descr']


%main#main{role: "main"}

  = render 'shared/breadcrumb'

  .u-useful-width.u-margin-constraint
    = render 'shared/back_question'
    .o-card.o-card--question
      = form_with model: @are, :local => true, url: are_questions_path do |f|

        = render 'shared/progressbar'
        = render 'shared/question_number'
        = render 'shared/a_form_header', {youranswer: "no", title: "#{raw_description}", subtitle: "Ce montant est disponible sur pole-emploi.fr, dans votre espace personnel."}

        .c-are__form{:class => classes_of_are_form}
          %label{for: "montant", :class => "c-label c-are-label", id: "minimum-descr"} Exemple : 30,50
            
          = f.text_field :minimum_income, 
            class: classes_of_input,    
            id: 'montant',            
            value: @are.minimum_income,            
            autofocus: true,           
            autocomplete: 'off',
            title: "Montant par mois de l'allocation",       
            'aria-describedby' => aria_described_by_of_input             

          %span.mls.c-are-euro
            €

        - if has_error
          .c-are-error
            %label#age-error.c-label.is-error{ id: "minimum-descr-error"} &#x2716; #{flash[:error][0]}
        - else
          .c-age-error__label.visibility-hidden &nbsp;
            
        = render 'nav/next_previous', f: f
