- title_data 'Votre diplôme le plus élevé'
- raw_description = 'Quel est le diplôme le plus élevé que vous ayez obtenu ?'
- description_data(raw_description)
- has_error = !(flash[:error].blank?)

%main#main{role: 'main'}

  = render 'shared/breadcrumb'
  
  .u-useful-width.u-margin-constraint
    .o-card
      = form_with model: @grade, url: grade_questions_path, :local => true do |f|
        %h1.c-question-title
          =raw_description

        .c-question__form 
          %fieldset.c-fieldset.o-centerbox-h__item{ :class => has_error ? 'is-error' : '' }
            %legend.u-hidden-visually Cochez le meilleur diplôme &#xE0;  : appuyez sur Tab pour changer de case, et Entr&#xE9;e pour en choisir un.
            
            .c-radioline.js-enterspace.u-margin-top-none{id: 'radio1'}
              .c-radiocontainer
                = radio_button_tag 'grade_form[value]',
                    'niveau_1',
                    @grade.value == 'niveau_1', 
                    id: 'niveau_1',
                    class: 'c-radioinput'
              %label.c-radiolabel{for: 'niveau_1'}
                Bac +4 et + (Master) / diplômes d’ingénieur
                
            .c-radioline.js-enterspace.u-margin-top-none{id: 'radio2'}
              .c-radiocontainer
                = radio_button_tag 'grade_form[value]',
                    'niveau_2',
                    @grade.value == 'niveau_2', 
                    id: 'niveau_2',
                    class: 'c-radioinput'
              %label.c-radiolabel{for: 'niveau_2'}
                Bac +3 (Licence)
                
            .c-radioline.js-enterspace.u-margin-top-none{id: 'radio3'}
              .c-radiocontainer
                = radio_button_tag 'grade_form[value]',
                    'niveau_3',
                    @grade.value == 'niveau_3', 
                    id: 'niveau_3',
                    class: 'c-radioinput'
              %label.c-radiolabel{for: 'niveau_3'}
                Bac +1 à bac +2 (BTS / DUT)
                
            .c-radioline.js-enterspace.u-margin-top-none{id: 'radio4'}
              .c-radiocontainer
                = radio_button_tag 'grade_form[value]',
                    'niveau_4',
                    @grade.value == 'niveau_4', 
                    id: 'niveau_4',
                    class: 'c-radioinput'
              %label.c-radiolabel{for: 'niveau_4'}
                Bac
                
            .c-radioline.js-enterspace.u-margin-top-none{id: 'radio5'}
              .c-radiocontainer
                = radio_button_tag 'grade_form[value]',
                    'niveau_5',
                    @grade.value == 'niveau_5', 
                    id: 'niveau_5',
                    class: 'c-radioinput'
              %label.c-radiolabel{for: 'niveau_5'}
                CAP / BEP
                
            .c-radioline.js-enterspace.u-margin-top-none{id: 'radio6'}
              .c-radiocontainer
                = radio_button_tag 'grade_form[value]',
                    'niveau_infra_5',
                    @grade.value == 'niveau_infra_5', 
                    id: 'niveau_infra_5',
                    class: 'c-radioinput'
              %label.c-radiolabel{for: 'niveau_infra_5'}
                Je n'ai aucun de ces diplômes
          
          %div
            - if has_error
              %label.c-label.is-error &#x2716; #{flash[:error][0]}
            - else
              %label.c-label.flex-container.h4-like.visibility-hidden &nbsp;

        = render 'nav/next_previous', f: f
