<%- v = view_object(:aid_form, local_assigns) %>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2  class="flash-error">
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name)
        ) %>
      </h2>
    </div>
  <% end %>



<section class="main-content__body c-aid-edit-body">

  <div class="left-panel c-aid-edit-body__child">
    <div class="js-tabs" data-tabs-disable-fragment="true">
      <ul class="js-tablist" data-hx="h3" data-tabs-prefix-class="example-tabs" data-tabs-generated-hx-class="focusable_tab_title">
        <li class="js-tablist__item">
          <a href="#tab_1" id="label_tab_1" class="js-tablist__link">Informations</a>
        </li>
        <li class="js-tablist__item">
          <a href="#tab_2" id="label_tab_2" class="js-tablist__link">Contenu</a>
        </li>
        <li class="js-tablist__item">
          <a href="#tab_3" id="label_tab_3" class="js-tablist__link">Paramètres</a>
        </li>
      </ul>
      <div id="tab_1" class="js-tabcontent">
        <% page.attributes.each_with_index do |attribute, index_nb| %>
          <% if index_nb < 5 %>
            <% unless v.hide_field?(attribute) %>
              <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--errored-<%=v.errored?(attribute)%>">
                <%= render_field attribute, f: f, is_mandatory: v.mandatory?(v.attr_name(attribute)), additional_label: v.additional_label(attribute) %>
                <% if v.errored?(attribute) -%>
                  <div class="field-unit-error-msg field-unit-error-msg--<%= attribute.html_class %>">
                    &nbsp;⚠ <%= v.error_message(attribute) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div id="tab_2" class="js-tabcontent">
        <div id="accordion_0" class="js-accordion">
          <% page.attributes.each_with_index do |attribute, index_nb| %>
            <% if index_nb > 9 %>
              <% unless v.hide_field?(attribute) %>

                <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--errored-<%=v.errored?(attribute)%>">
                  <%= render_field attribute, f: f, is_mandatory: v.mandatory?(v.attr_name(attribute)), additional_label: v.additional_label(attribute) %>
                  <% if v.errored?(attribute) -%>
                    <div class="field-unit-error-msg field-unit-error-msg--<%= attribute.html_class %>">
                      &nbsp;⚠ <%= v.error_message(attribute) %>
                    </div>
                  <% end %>
                </div>

              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div id="tab_3" class="js-tabcontent">
        <% page.attributes.each_with_index do |attribute, index_nb| %>
          <% if index_nb < 10 && index_nb > 4 %>
            <% unless v.hide_field?(attribute) %>
              <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--errored-<%=v.errored?(attribute)%>">
                <%= render_field attribute, f: f, is_mandatory: v.mandatory?(v.attr_name(attribute)), additional_label: v.additional_label(attribute) %>
                <% if v.errored?(attribute) -%>
                  <div class="field-unit-error-msg field-unit-error-msg--<%= attribute.html_class %>">
                    &nbsp;⚠ <%= v.error_message(attribute) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div> 

  <div class="right-panel c-aid-edit-body__child">
    <h2 class="c-detail-title u-margin-bottom-none">
      <div class="c-detail-title-inside u-useful-width u-margin-constraint">
        Immersion professionnelle (PMSMP)
      </div>
    </h2>
    <div class="c-detail-list">
      <div class="c-detail-item">
        <div class="c-detail-item__content">
        <h3 class="c-detail-item__title">
        Description
        </h3>
        <div class="c-detail-item__text">
          <p>Aide à l'orientation permettant de découvrir un métier/ un secteur d'activité ou de confirmer un projet professionnel, grâce à une immersion dans l'entreprise.</p>

          <p>La PMSMP désigne une Période de Mise en Situation en Milieu Professionnel.&nbsp;</p>

          <p>Il s'agit d'une prestation pour laquelle vous pouvez solliciter les autres aides à la mobilité si vous y êtes éligible (déplacement, repas, hébergement, garde d'enfant).</p>
        </div>
        </div>
      </div>

      <div class="c-detail-item">
        <div class="c-detail-item__content">
          <h3 class="c-detail-item__title">
          Conditions à remplir
          </h3>
          <div class="c-detail-item__text">
            <p>Seules les personnes morales peuvent vous accueillir en immersion professionnelle (numéro de siret requis) : les particuliers employeurs ne peuvent pas vous accueillir en PMSMP.&nbsp;</p>

            <p>Certains critères d'éligibilité n'ont pas pu être calculés : dans le cas où le calcul vous rend inéligible, il se peut que votre situation modifie ce résultat.&nbsp;</p>

            <p>Ainsi, vous pouvez être éligible à la PMSMP si :</p>

            <ul>
              <li>vous n'êtes pas inscrit(e) mais vous recherchez un emploi</li>
              <li>vous êtes suivi(e) par une mission locale</li>
              <li>vous êtes salarié(e) dans une structure d'insertion par l'activité économique</li>
              <li>vous êtes salarié(e) menacé(e) d'inaptitude et que vous entamez une démarche de maintien dans l'emploi ou de reconversion.</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="c-detail-item">
        <div class="c-detail-item__content">
          <h3 class="c-detail-item__title">
          Contenu de l'aide
          </h3>
          <div class="c-detail-item__text">
            <p>La PMSMP vous permet d'être en immersion professionnelle dans une entreprise qui vous accueille afin de vous confronter aux conditions réelles du poste.</p>
            <p>L'immersion dure maximum un mois.</p>
          </div>
        </div>
      </div>

      <div class="c-detail-item">
        <div class="c-detail-item__content">
        <h3 class="c-detail-item__title">
          Demande
        </h3>
          <div class="c-detail-item__text">
          <p>Vous pouvez mentionner le souhait de réaliser une immersion professionnelle auprès de l'organisme qui vous accompagne : <a href="http://www.pole-emploi.fr/accueil/" rel="noopener" target="_blank">Pôle emploi</a>, <a href="https://www.unml.info" rel="noopener" target="_blank">mission locale</a>, <a href="http://www.capemploi.com/" rel="noopener" target="_blank">Cap emploi</a> ou structure d'insertion par l'activité économique.</p>

          <p>Si le projet est pertinent, une convention est réalisée par l'organisme prescripteur. Elle est signée par vous-même et par la structure qui vous accueille et vous pouvez démarrer l'immersion à la date convenue.</p>

          <p>Lorsque vous êtes salarié/e, votre employeur actuel doit signer le document CERFA : <a href="https://www.service-public.fr/particuliers/vosdroits/R38861" target="_blank">lien vers le document.</a></p>

          </div>
        </div>
      </div>

      <div class="c-detail-item-remark">
        <div class="c-detail-item-remark__svg"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" width="35px" height="35px"><g> <g>   <path d="M470.238,31.479H41.762C18.735,31.479,0,50.214,0,73.242v250.53c0,23.029,18.735,41.764,41.763,41.764h34.415v103.079    c0,4.816,2.902,9.157,7.35,11c1.473,0.61,3.019,0.906,4.553,0.906c3.099,0,6.145-1.21,8.422-3.487L198,365.535h372.236    c23.028,0,41.762-18.735,41.762-41.764V73.242C512,50.214,493.265,31.479,470.238,31.479z M470.238,341.722H193.062    c-3.08,0-5.878,1.18-7.991,3.099c-0.019,0.017-0.041,0.038-0.06,0.055c-0.145,0.133-0.293,0.263-0.431,0.404L89.99,439.869    v-86.241c0-0.414-0.021-0.781-0.063-1.105c-0.558-6.057-5.647-10.801-11.85-10.801H41.762c-9.898,0-17.95-8.053-17.95-17.951    V73.242c0-9.898,8.052-17.95,17.95-17.95h428.475c9.899,0,17.95,8.052,17.95,17.95v250.53h0    C488.187,333.669,480.135,341.722,470.238,341.722z" fill="#057DBC"></path>  </g></g><g> <g>   <path d="M173.987,118.437h-69.399c-6.576,0-11.906,5.332-11.906,11.906c0,6.575,5.33,11.906,11.906,11.906h69.399    c6.576,0,11.906-5.332,11.906-11.906C185.893,123.768,180.562,118.437,173.987,118.437z" fill="#057DBC"></path>  </g></g><g> <g>   <path d="M297.738,186.6H104.587c-6.576,0-11.906,5.332-11.906,11.906c0,6.575,5.33,11.906,11.906,11.906h193.151    c6.575,0,11.906-5.33,11.906-11.906C309.644,191.932,304.313,186.6,297.738,186.6z" fill="#057DBC"></path>  </g></g><g> <g>   <path d="M407.414,118.437H343.507c-6.576,0-11.906,5.332-11.906,11.906c0,6.575,5.33,11.906,11.906,11.906h163.907    c6.575,0,11.906-5.332,11.906-11.906C419.32,123.767,413.989,118.437,407.414,118.437z" fill="#057DBC"></path>  </g></g><g> <g>   <path d="M407.414,186.6h-43.102c-6.575,0-11.906,5.332-11.906,11.906c0,6.576,5.332,11.906,11.906,11.906h43.102    c6.575,0,11.906-5.33,11.906-11.906C419.32,191.93,413.989,186.6,407.414,186.6z" fill="#057DBC"></path>  </g></g><g> <g>   <path d="M212.407,254.765h-107.82c-6.576,0-11.906,5.33-11.906,11.906c0,6.575,5.33,11.906,11.906,11.906h107.82    c6.576,0,11.906-5.332,11.906-11.906C224.313,260.095,218.983,254.765,212.407,254.765z" fill="#057DBC"></path> </g></g><g> <g>   <path d="M407.414,254.765H375.675c-6.575,0-11.906,5.33-11.906,11.906c0,6.575,5.332,11.906,11.906,11.906h131.739    c6.575,0,11.906-5.332,11.906-11.906C419.32,260.095,413.989,254.765,407.414,254.765z" fill="#057DBC"></path>  </g></g></svg></div>
        <div class="c-detail-item-remark__content">
          <div>
          <p>PMSMP possible sous réserve de validation par l'organisme prescripteur.</p>
          <p>Pour voir un exemple de PMSMP en vidéo, rendez-vous sur <a href="https://www.pole-emploi.fr/employeur/accueillir-un-demandeur-d-emploi-en-immersion-professionnelle-@/article.jspz?id=80898" rel="noopener" target="_blank">Pôle-emploi.fr.</a></p>
          </div>
        </div>
      </div>

    </div>

  </div>


</section>


<div class="c-aid-detail-subfooter">
  <div class="c-aid-detail-action">
    <form>
      <input class="button is-discrete" type="button" value="&larr;&nbsp;Retour&nbsp;&nbsp;" onclick="history.back();" >
    </form>
  </div>
  <div>
    <%= f.submit "Enregistrer", id: "modify-aid" %>
  </div>
</div>
<% end %>

