<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>
<%- v_aid_form = view_object(:aid_form, local_assigns) %>
<%- v = view_object(:aid_show, local_assigns) %>

<% content_for(:title) { "#{t("helpers.aid.detail")} : #{page.resource.name.truncate(42)}".html_safe } %>

<a class="c-aid-detail-goback" onclick="window.history.back();">
  <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8"><path fill="#057DBC" fill-rule="nonzero" d="M3.8 0L5 1.2 2.4 3.8 5 6.4 3.8 7.6 0 3.8l.1-.1-.1-.1z"/></svg>
  <span>&nbsp;Retour</span>
</a>

<header class="main-content__header c-aid-detail-header" role="banner">
  <h1 class="main-content__page-title c-aid-detail-title">
    <%="#{t("helpers.aid.detail")}".html_safe  %> : <span class='is-actual-title'><%= "#{page.resource.name.truncate(45)}".html_safe %></span>
  </h1>
  <nav class="c-aid-detail-cutebuttons">
    <a data-simpletooltip-prefix-class="cute" data-simpletooltip-tag="div" data-simpletooltip-text="Retour" class="c-cutebutton is-back js-simple-tooltip" onclick="window.history.back();" >
      <svg height="17" viewBox="0 0 18 17" width="18" xmlns="http://www.w3.org/2000/svg"><path d="m16.875 9.6h-13.342l4.083 5.232c.398.51.332 1.268-.146 1.692a1.079 1.079 0 0 1 -1.586-.156l-5.625-7.2a1.45 1.45 0 0 1 -.102-.18c0-.06-.056-.096-.078-.156a1.27 1.27 0 0 1 -.079-.432 1.27 1.27 0 0 1 .079-.432c0-.06.056-.096.078-.156a1.45 1.45 0 0 1 .102-.18l5.625-7.2c.214-.274.531-.433.866-.432.263 0 .518.097.72.276.23.203.375.496.402.814.028.317-.064.633-.256.878l-4.083 5.232h13.342c.621 0 1.125.537 1.125 1.2s-.504 1.2-1.125 1.2z" fill="#057dbc"/></svg>
    </a>
    <a data-simpletooltip-prefix-class="cute" data-simpletooltip-tag="div" data-simpletooltip-text="Modifier"  class="c-cutebutton is-modification js-simple-tooltip" href="<%= admin_aid_creation_new_aid_stage_5_path(slug: page.resource.slug, modify: true, back2detail: true) %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><path fill="#057DBC" fill-rule="nonzero" d="M15.707.293a.999.999 0 0 0-1.414 0l-13 13a1.003 1.003 0 0 0-.263.464l-1 4a1 1 0 0 0 1.212 1.213l4-1c.176-.044.337-.135.465-.263l13-13a.999.999 0 0 0 0-1.414l-3-3zM4.487 16.097l-2.113.528.529-2.114L12 5.414 13.586 7l-9.098 9.097zM15 5.587L13.414 4 15 2.414 16.586 4 15 5.586z"/></svg>
    </a>
    <a data-simpletooltip-prefix-class="cute" data-simpletooltip-tag="div" data-simpletooltip-text="Visionner en ligne" class="c-cutebutton is-preview js-simple-tooltip" href="<%= detail_url(page.resource) %>" target="blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><path fill="#057DBC" fill-rule="nonzero" d="M7.773 3.455a.864.864 0 1 0 0 1.727.864.864 0 0 0 0-1.727zm-3.455 0a.864.864 0 1 0 0 1.727.864.864 0 0 0 0-1.727zm6.91 0a.864.864 0 1 0 0 1.727.864.864 0 0 0 0-1.727zM16.408 0H2.591A2.59 2.59 0 0 0 0 2.59v13.82A2.59 2.59 0 0 0 2.59 19h13.82A2.59 2.59 0 0 0 19 16.41V2.59A2.59 2.59 0 0 0 16.41 0zm.864 16.41a.864.864 0 0 1-.864.863H2.591a.864.864 0 0 1-.864-.864V8.636h15.546v7.773zm0-9.5H1.727V2.59c0-.476.387-.863.864-.863h13.818c.477 0 .864.387.864.864v4.318z"/></svg>
    </a>
  </nav>
</header>

<section class="main-content__body c-aid-detail-body">

  <section class="c-aid-detail-section c-aid-detail-info">
    <h2 class="c-aid-detail-subtitle">Informations générales</h2>
    <dl class="c-tabbed-dl">
      <% v.ordered_info_attributes.each_with_index do |attribute, index_nb| %>
          <dt class="attribute-label" id="<%= attribute.name %>" data-role="<%= current_user.role %>">
            <%= v.label_of(attribute.name) %>
          </dt>

          <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
              ><%= render_field attribute %></dd>
      <% end %>
    </dl>    
  </section>


  <section class="c-aid-detail-section c-aid-detail-content">
    <h2 class="c-aid-detail-subtitle">Contenu</h2>
    <dl class="c-tabbed-dl">
      <% v.ordered_content_attributes.each_with_index do |attribute, index_nb| %>
          <dt class="attribute-label" id="<%= attribute.name %>" data-role="<%= current_user.role %>">
          <%= t(
            "helpers.label.#{resource_name}.#{attribute.name}",
            default: attribute.name.titleize,
          ) %>
          </dt>

          <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
              ><%= render_field attribute %></dd>
      <% end %>
    </dl>        
  </section>
  

  <section class="c-aid-detail-section c-aid-detail-criteria">  
    <h2 class="c-aid-detail-subtitle">Critères d'application de l'aide</h2>
    <%= render partial: 'shared/detail_condition_list.haml', locals: { ability_tree: v_aid_form.ability_tree } %>
  </section>
  

  <section class="c-aid-detail-section c-aid-detail-history">
    <h2 class="c-aid-detail-subtitle">Historique des modifications</h2>
    <%= render partial: 'admin/history/resume', locals: { resource: page.resource } %>
  </section>

</section>
<nav class="c-aid-detail-bottomnav">
<div class="c-aid-detail-bottomnav-item">
  <a class="c-aid-detail-goback" onclick="window.history.back();">
    <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8"><path fill="#057DBC" fill-rule="nonzero" d="M3.8 0L5 1.2 2.4 3.8 5 6.4 3.8 7.6 0 3.8l.1-.1-.1-.1z"/></svg>
    <span>&nbsp;Retour</span>
  </a>    
</div>
<div class="c-aid-detail-bottomnav-item is-modification">
  <a href="<%= admin_aid_creation_new_aid_stage_5_path(slug: page.resource.slug, modify: true, back2detail: true) %>">
    Modifier
  </a>
</div>
<div class="c-aid-detail-bottomnav-item is-preview">
  <a href="<%= detail_url(page.resource) %>" target="blank">
    Visionner en ligne
  </a>
</div>

</nav>
