<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { "#{t("helpers.aid.detail")}" } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      "#{t("administrate.actions.edit")}",
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action? :edit %>
  </div>
</header>

<div class="js-tabs">
  <ul class="js-tablist" data-hx="h2" data-tabs-prefix-class="example-tabs">
   <li class="js-tablist__item">
    <a href="#tab_1" id="label_tab_1" class="js-tablist__link">1st tab</a>
   </li>
   <li class="js-tablist__item">
    <a href="#tab_2" id="label_tab_2" class="js-tablist__link">2nd tab</a>
   </li>
   <li class="js-tablist__item">
    <a href="#tab_3" id="label_tab_3" class="js-tablist__link">3rd tab</a>
   </li>
  </ul>
 <div id="tab_1" class="js-tabcontent">
   here the content of 1st tab
 </div>
 <div id="tab_2" class="js-tabcontent">
   here the content of 2nd tab
 </div>
 <div id="tab_3" class="js-tabcontent">
   here the content of 3rd tab
 </div>
</div>

<section class="main-content__body">
  <dl>
    <% page.attributes.each_with_index do |attribute, index_nb| %>
      <% if index_nb == 1 %>
        <dt class="attribute-label">URL publique</dt>
        <dd class="attribute-data"><%= link_to 'voir', detail_url(page.resource) %></dd>
      <% else %>
        <dt class="attribute-label" id="<%= attribute.name %>">
        <%= t(
          "helpers.label.#{resource_name}.#{attribute.name}",
          default: attribute.name.titleize,
        ) %>
        </dt>

        <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
            ><%= render_field attribute %></dd>
      <% end %>
    <% end %>
  </dl>
</section>
<%= render partial: 'admin/history/resume', locals: { resource: page.resource } %>
