<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>
<%- v_aid_form = view_object(:aid_form, local_assigns) %>
<%- v = view_object(:aid_show, local_assigns) %>

<% content_for(:title) { "#{t("helpers.aid.detail")} : #{page.resource.name.truncate(42)}".html_safe } %>

<a class="c-aid-detail-goback" onclick="window.history.back();">
  <strong> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9px" height="9px" viewBox="0 0 444.531 444.531" style="enable-background:new 0 0 444.531 444.531;" xml:space="preserve"><g><path d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978L213.13,222.409z" fill="#057dbc"/></g></svg> </strong>
  <span>Retour</span>
</a>

<header class="main-content__header c-aid-detail-header" role="banner">
  <h1 class="main-content__page-title c-aid-detail-title">
    <%="#{t("helpers.aid.detail")}".html_safe  %> : <span class='is-actual-title'><%= "#{page.resource.name.truncate(45)}".html_safe %></span>
  </h1>
  <nav class="c-aid-detail-cutebuttons">
    <a class="c-cutebutton">
      <svg width="19px" height="13px" viewBox="0 0 27 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="right-arrow" transform="translate(13.500000, 11.000000) rotate(180.000000) translate(-13.500000, -11.000000) " fill="#057DBC" fill-rule="nonzero"><path d="M18.1814862,0.330864421 C17.8136551,-0.11028814 17.2014608,-0.11028814 16.8207685,0.330864421 C16.4529374,0.757113179 16.4529374,1.46653419 16.8207685,1.89178936 L23.7203874,9.88718273 L0.952588123,9.88718273 C0.421848206,9.88817632 0,10.377021 0,10.9920513 C0,11.6070816 0.421848206,12.1118237 0.952588123,12.1118237 L23.7203874,12.1118237 L16.8207685,20.0923133 C16.4529374,20.5334658 16.4529374,21.2438804 16.8207685,21.6691356 C17.2014608,22.1102881 17.8145125,22.1102881 18.1814862,21.6691356 L26.7144808,11.7809593 C27.0951731,11.3547105 27.0951731,10.6452895 26.7144808,10.2200343 L18.1814862,0.330864421 Z" id="Shape"></path></g></g></svg>
    </a>
    <a class="c-cutebutton">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><path fill="#057DBC" fill-rule="nonzero" d="M15.707.293a.999.999 0 0 0-1.414 0l-13 13a1.003 1.003 0 0 0-.263.464l-1 4a1 1 0 0 0 1.212 1.213l4-1c.176-.044.337-.135.465-.263l13-13a.999.999 0 0 0 0-1.414l-3-3zM4.487 16.097l-2.113.528.529-2.114L12 5.414 13.586 7l-9.098 9.097zM15 5.587L13.414 4 15 2.414 16.586 4 15 5.586z"/></svg>
    </a>
    <a class="c-cutebutton">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><path fill="#057DBC" fill-rule="nonzero" d="M7.773 3.455a.864.864 0 1 0 0 1.727.864.864 0 0 0 0-1.727zm-3.455 0a.864.864 0 1 0 0 1.727.864.864 0 0 0 0-1.727zm6.91 0a.864.864 0 1 0 0 1.727.864.864 0 0 0 0-1.727zM16.408 0H2.591A2.59 2.59 0 0 0 0 2.59v13.82A2.59 2.59 0 0 0 2.59 19h13.82A2.59 2.59 0 0 0 19 16.41V2.59A2.59 2.59 0 0 0 16.41 0zm.864 16.41a.864.864 0 0 1-.864.863H2.591a.864.864 0 0 1-.864-.864V8.636h15.546v7.773zm0-9.5H1.727V2.59c0-.476.387-.863.864-.863h13.818c.477 0 .864.387.864.864v4.318z"/></svg>
    </a>
  </nav>
</header>

<section class="main-content__body c-aid-detail-body">

  <section class="c-aid-detail-section c-aid-detail-info">
    <h2 class="c-aid-detail-subtitle">Informations générales</h2>
    <dl class="c-tabbed-dl">
      <% v.ordered_info_attributes.each_with_index do |attribute, index_nb| %>
          <dt class="attribute-label" id="<%= attribute.name %>" data-role="<%= current_user.role %>">
            <%= v.label_of(attribute.name) %>
          </dt>

          <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
              ><%= render_field attribute %></dd>
      <% end %>
    </dl>    
  </section>


  <section class="c-aid-detail-section c-aid-detail-content">
    <h2 class="c-aid-detail-subtitle">Contenu</h2>
    <dl class="c-tabbed-dl">
      <% v.ordered_content_attributes.each_with_index do |attribute, index_nb| %>
          <dt class="attribute-label" id="<%= attribute.name %>" data-role="<%= current_user.role %>">
          <%= t(
            "helpers.label.#{resource_name}.#{attribute.name}",
            default: attribute.name.titleize,
          ) %>
          </dt>

          <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
              ><%= render_field attribute %></dd>
      <% end %>
    </dl>        
  </section>
  

  <section class="c-aid-detail-section c-aid-detail-criteria">  
    <h2 class="c-aid-detail-subtitle">Critères d'application de l'aide</h2>
    <%= render partial: 'shared/detail_condition_list.haml', locals: { ability_tree: v_aid_form.ability_tree } %>
  </section>
  

  <section class="c-aid-detail-section c-aid-detail-history">
    <h2 class="c-aid-detail-subtitle">Historique des modifications</h2>
    <%= render partial: 'admin/history/resume', locals: { resource: page.resource } %>
  </section>

</section>
