<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>
<%- v_aid_form = view_object(:aid_form, local_assigns) %>
<%- v = view_object(:aid_show, local_assigns) %>

<% content_for(:title) { "#{t("helpers.aid.detail")} : #{page.resource.name.truncate(45)}" } %>

<header class="main-content__header c-aid-detail-header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<header class="c-aid-detail-subheader">
</header>

<section class="main-content__body c-aid-detail-body">

  <section class="c-aid-detail-info">
    <h2>Informations générales</h2>
    <dl class="c-tabbed-dl">
      <% v.ordered_info_attributes.each_with_index do |attribute, index_nb| %>
          <dt class="attribute-label" id="<%= attribute.name %>" data-role="<%= current_user.role %>">
          <%= t(
            "helpers.label.#{resource_name}.#{attribute.name}",
            default: attribute.name.titleize,
          ) %>
          </dt>

          <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
              ><%= render_field attribute %></dd>
      <% end %>
    </dl>    
  </section>


  <section class="c-aid-detail-content">
    <h2>Contenu</h2>
    <dl class="c-tabbed-dl">
      <% v.ordered_content_attributes.each_with_index do |attribute, index_nb| %>
          <dt class="attribute-label" id="<%= attribute.name %>" data-role="<%= current_user.role %>">
          <%= t(
            "helpers.label.#{resource_name}.#{attribute.name}",
            default: attribute.name.titleize,
          ) %>
          </dt>

          <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
              ><%= render_field attribute %></dd>
      <% end %>
    </dl>        
  </section>
  

  <section class="c-aid-detail-criteria">  
    <h2>Critères d'application de l'aide</h2>
    <%= render partial: 'shared/detail_condition_list.haml', locals: { ability_tree: v_aid_form.ability_tree } %>
  </section>
  

  <section class="c-aid-detail-history">
  </section>

</section>
