- aid = @loaded[:aid]
- ability_tree = @loaded[:ability_tree]
- title_data "#{aid[:name]}"
- description_data "#{aid[:what]}"
- has_active_user = !!params[:for_id]
- larger_container "yes"


%main#main.c-detail-show{role: "main"}

  = render 'shared/breadcrumb', {larger_container: "yes"}

  %h1.c-detail-title.u-margin-bottom-none
    .c-detail-title-inside.u-useful-width.u-useful-width--larger.u-margin-constraint
      = aid[:name]
  
  .u-useful-width.u-useful-width--larger.u-margin-constraint.u-margin-top-small
    .c-detail-goback.u-margin-bottom-small{"onclick" =>"window.history.back();"}
      %strong < Retour
    
    #c-detail-app
      .o-layout
        .o-layout__item{:class => "u-1/1 u-3/5@desktop"}
          .c-detail-list
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Description',          html_content: aid[:what] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Conditions à remplir', html_content: aid[:additionnal_conditions] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Contenu de l\'aide',   html_content: aid[:how_much] }
            = render partial: 'shared/detail-item.haml',        locals: { description: 'Comment faire la demande ?',              html_content: aid[:how_and_when] }
            = render partial: 'shared/detail_item_remark.haml', locals: { content: aid[:limitations] }
        .o-layout__item{:class => "u-1/1 u-2/5@desktop"}
          - if has_active_user
            .c-detail-why-container
              = render partial: 'shared/detail_why.haml', locals: ability_tree
            .c-detail-warning.u-margin-top
              %p.u-margin-bottom-none Simulation non contractuelle tenant compte des éléments déclarés et appréciés le #{Time.now.strftime("%d/%m/%Y")}
          - else
            = render partial: 'shared/detail_void.haml'


    - if has_active_user
      .c-detail-back
        = link_to 'Retour à la liste', aides_path + '?for_id='+ params[:for_id], :class => 'c-navbutton c-navbutton--back js-previous';

    .c-feedback.c-feedback-background.c-feedback-police
      %span.js-hideable Cette page est-elle utile?
      %span.js-expandmore.js-hideable.js-expandmore-yes Oui
      .js-to_expand
        Merci pour votre avis !
      %span.js-hideable /
      %span
      %span.js-expandmore.js-hideable Non
      .js-to_expand
        = form_with id: "post_feedback_form", url: feedback_path, :local => false, method: 'post' do |f|
          Comment pouvons-nous l'améliorer ?
          %div
            = f.text_area(:actual_feedback, size: '50x5') 
          %div
            = f.submit 'Envoyer', "class" => ""

  - content_for :prefooter do
    .c-feedback-background.c-feedback-line
