<%- now = DateTime.now %>
<%- delta = local_assigns[:current_diff_value] %>
<%- changed = now.change(hour: now.hour + delta, min: now.minute, sec: now.second)  %>

<div style="margin-top: 2rem;margin-left: 2rem;">
  <div>
    Heure actuelle du serveur : <%= now.strftime("%d %b %Y %H:%M:%S") %>
  </div>
  <div>
  </div>
  <div>
    Delta actuel (en heure) : <span class='actual-delta'><%=delta%></span>
  </div>
  <div>
    Heure perçue par Clara : <%= changed.strftime("%d %b %Y %H:%M:%S") %>
  </div>
  <br>
  <div>
    Changement du delta appliqué :
  </div>
  <%= form_with url: admin_post_clock_path, remote:false, id: 'admin_post_clock_form' do |form| %>
    <%= form.number_field :clock_delta, in: -24..24, step: 1, value: delta %>
    <%= form.submit "Changer le delta (en heure)"%>
  <% end %>
</div>

