<%- h = request.headers.env.reject { |key| key.to_s.include?('.') } %>
<%- h.tap { |hs| hs.delete(:clearance) } %>
<div style="margin-top: 2rem;">

  <div>
  About the app :
  </div> 
  <%= ap(Rails::Info.to_s.split("\n")).html_safe %>

  <div>
  About the request :
  </div> 
  <%= ap(h).html_safe %>

  <div>
  Remote IP is :
  </div> 
  <div>
  <%= ap(request.remote_ip).html_safe %>
  </div> 

  <% if params["env"] %>
    <div>
      ENV <%= params["env"] %> is :
    </div> 
    <div>
      <%= ap(ENV[params["env"]]).html_safe %>
    </div> 
  <% end %>
  
  <% if params["config"] %>
    <div>
      config of <%= params["config"] %> is :
    </div> 
    <div>
      <%= ap(Rails.configuration.try(params["config"])).html_safe %>
    </div> 
  <% end %>

  <% if params["config1"] && params["config1"] %>
    <div>
      config of config.<%= params["config1"] %>.<%= params["config2"] %> is :
    </div> 
    <div>
      <%= ap(Rails.configuration.try(params["config1"]).try(params["config2"])).html_safe %>
    </div> 
  <% end %>

</div>
