- title_data "Votre montant d'allocation"
- raw_description = 'Quel est le montant de cette allocation ?'
- description_data(raw_description)

- has_error = !(flash[:error].blank?)
- if has_error
  - classes_of_input = ['c-field', 'is-error']
  - classes_of_are_form = ['c-are__form', 'is-error']
  - aria_described_by_of_input = ['minimum-descr', 'minimum-descr-error']
- else
  - classes_of_input = ['c-field']
  - classes_of_are_form = ['c-are__form']
  - aria_described_by_of_input = ['minimum-descr']


%main#main.mw1140p.center{role: "main"}

  = render 'shared/breadcrumb'

  .u-useful-width.u-margin-constraint
    .o-card
      = form_with model: @are, :local => true, url: are_questions_path do |f|

        %h1.c-question-title
          =raw_description

        .c-are__form{:class => classes_of_are_form}
          .c-label.u-text--left{ id: "minimum-descr"} 
            Montant par mois
            .c-are-input
              = f.number_field :minimum_income, 
                class: classes_of_input,    
                id: 'inputmin',            
                value: @are.minimum_income,            
                autofocus: true,           
                autocomplete: 'off',       
                'aria-describedby' => aria_described_by_of_input             
              %div.mls.c-are-euro
                €

            - if has_error
              %label#age-error.c-label.is-error{ id: "minimum-descr-error"} &#x2716; #{flash[:error][0]}
            - else
              .c-label.flex-container.h4-like.visibility-hidden

            
        = render 'nav/next_previous', f: f
