<table aria-labelledby="<%= table_title %>">
  <thead>
    <tr>
      <% collection_presenter.attribute_types.each do |attr_name, attr_type| %>
        <th class="cell-label
        cell-label--<%= attr_type.html_class %>
        cell-label--<%= collection_presenter.ordered_html_class(attr_name) %>"
        scope="col"
        role="columnheader"
        aria-sort="<%= sort_order(collection_presenter.ordered_html_class(attr_name)) %>">
        <%= link_to(sanitized_order_params(page, collection_field_name).merge(
          collection_presenter.order_params_for(attr_name)
        )) do %>
        <%= t(
          "helpers.label.#{collection_presenter.resource_name}.#{attr_name}",
          default: attr_name.to_s,
        ).titleize %>
            <% if collection_presenter.ordered_by?(attr_name) %>
              <span class="cell-label__sort-indicator cell-label__sort-indicator--<%= collection_presenter.ordered_html_class(attr_name) %>">
                <svg aria-hidden="true">
                  <use xlink:href="#icon-up-caret" />
                </svg>
              </span>
            <% end %>
          <% end %>
        </th>
      <% end %>
      <th scope="col" colspan="4" style="text-align: center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% resources.each_with_index do |resource, idx| %>
      <tr class="js-table-row <%= idx % 2 == 0 ? 'even' : 'odd' %>"
          tabindex="0"
          <% if valid_action? :show, collection_presenter.resource_name %>
            <%= %(role=link data-url=#{polymorphic_path([namespace, resource])}) %>
          <% end %>
          >
        <% collection_presenter.attributes_for(resource).each do |attribute| %>
          <td class="cell-data cell-data--<%= attribute.html_class %>">
            <% if show_action? :show, resource -%>
              <%= render_field attribute %>
            <% end -%>
          </td>
        <% end %>


        <% if valid_action? :show, collection_presenter.resource_name %>
          <td><%= link_to(
            "Consulter".html_safe ,
            polymorphic_path([namespace, resource]),
            class: "action-edit") %>
          </td>
        <% end %>
        <% if valid_action? :edit, collection_presenter.resource_name %>
          <td><%= link_to(
            t("administrate.actions.edit"),
            admin_aid_creation_new_aid_stage_5_path(slug: resource.slug, modify: true),
            class: "action-edit",
          ) if show_action? :edit, resource%></td>
        <% end %>

        <% if current_user.role === "superadmin" || current_user.role === "relecteur" %>
          <td><%= link_to(
            "Archiver",
            admin_aid_archive_one_aid_path(resource.slug),
            class: "text-color-red js-delete-aid",
            method: :post,
          ) %></td>
        <% end %>
        <% if valid_action? :destroy, collection_presenter.resource_name %>
          <td><%= link_to(
            t("administrate.actions.destroy"),
            [namespace, resource],
            class: "text-color-red js-delete-aid",
            method: :delete,
            data: { confirm: t("administrate.actions.confirm") }
          ) if show_action? :destroy, resource %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
