<div id="clearance" class="password-reset c-login">
  <div class="c-login-card u-margin-top u-margin-bottom">
    <h1>Nouveau mot de passe</h1>


    <% flash.each do |key, value| %>
      <div id="flash_<%= key %>" class="c-flash-error u-margin-bottom-small">
        <%= h "✖ #{value}" %>
      </div>
    <% end %>
    
    <%= form_for :password_reset,
          url: user_password_path(@user, token: @user.confirmation_token),
          html: { method: :put } do |form| %>
      <div class="password-field">
        <%= form.label :password, "Nouveau mot de passe" %>
        <%= form.password_field :password, "class" => "u-1/1" %>
      </div>

      <div class="submit-field u-margin-top-small c-login-connect c-login-nextprev">
        <div class="c-login-create c-flexeqal">
          <%= link_to "Annuler", sign_in_path %>
        </div>
        <div class="c-flexeqal">
          <%= form.submit "Enregistrer", "class" => "u-1/1" %>
        </div>

      </div>
    <% end %>
  </div>
</div>
