- title_data 'Votre adresse'
- raw_description = 'Quel est le code postal de votre lieu de résidence ?'
- description_data(raw_description)

- has_error = !(flash[:error].blank?)
- if has_error
  - classes_of_input = ['c-field', 'c-address-input'].join(" ")
  - aria_described_by_of_input = ['initInstr', 'address-error'].join(" ")
- else
  - classes_of_input = ['c-field', 'c-address-input', 'numberonly'].join(" ")
  - aria_described_by_of_input = ['address'].join(" ")

%main#main{role: "main"}
  = render 'shared/breadcrumb'
  .u-useful-width.u-margin-constraint
    = render 'shared/back_question'

    .o-card.o-card--question
      = form_with model: @address, url: address_questions_path, :local => true do |f|
        = render 'shared/progressbar'
        = render 'shared/question_number'
        = render 'shared/a_form_header', {title: "#{raw_description}"}

        .o-layout.o-layout--stretch.o-layout--center
          .o-layout__item{:class => "u-1/1 u-3/5@tablet"}
            .c-address__content
              #a11yAutocomplete
                %div{"data-widget" => "accessible-autocomplete"}
                  %label{for: "search", :class => "c-label c-are-label", id: "minimum-descr"} Code postal à 5 chiffres
                  %input#search{search_hash(@address, classes_of_input)}
                  %ul#results.autocomplete-list{role: "listbox", style: "display: none;"}
            
              %input#location_label.u-hidden{value: "#{@address.label}"}
              %table#address_form.u-hidden
                %tr
                  %td.label Street address
                  %td.slimField
                    %input#street_number.field{name: "address_form[street_number]", value:"#{@address.street_number}"}/
                  %td.wideField{:colspan => "2"}
                    %input#route.field{name: "address_form[route]", value:"#{@address.route}"}/
                %tr
                  %td.label City
                  %td.wideField{:colspan => "3"}
                    %input#locality.field{name: "address_form[city]", value:"#{@address.city}"}/
                %tr
                  %td.label State
                  %td.slimField
                    %input#administrative_area_level_1.field{name: "address_form[state]", value:"#{@address.state}"}/
                  %td.label Zip code
                  %td.wideField
                    %input#postal_code.field{name: "address_form[zipcode]", value:"#{@address.zipcode}"}/
                %tr
                  %td.label Country
                  %td.slimField
                    %input#country.field{name: "address_form[country]", value:"#{@address.label ? 'France' : ''}"}/
                  %td.label Citycode
                  %td.wideField
                    %input#citycode.field{name: "address_form[citycode]", value:"#{@address.citycode}"}/
          .o-layout__item{:class => "u-1/1 u-2/5@tablet"}
            .c-address__heartening
              .o-layout.o-layout--stretch.o-layout--center
                .o-layout__item{:class => "u-1/5@tablet"}
                  <svg id="shaka" enable-background="new 0 0 300 300" height="42" viewBox="0 0 300 300" width="42" xmlns="http://www.w3.org/2000/svg"><path d="m227.614 46c-9.925 0-18 8.075-18 18v45.044c-2.862-1.92-6.302-3.044-10-3.044-3.786 0-7.299 1.181-10.201 3.186-1.232-8.571-8.602-15.186-17.509-15.186h-.714c-5.483 0-10.392 2.506-13.643 6.432-3.251-3.926-8.159-6.432-13.643-6.432h-.714c-9.765 0-17.709 7.944-17.709 17.709v36.001c-.333 1.524-1.321 2.785-2.804 3.48-1.775.833-3.729.617-5.265-.57l-30.328-32.165c-3.544-3.759-8.341-5.871-13.507-5.947-5.135-.074-10.022 1.895-13.676 5.547-6.587 6.587-7.371 17.198-1.823 24.682l33.251 44.851c7.773 12.691 12.778 22.772 16.221 32.668 7.021 20.183 26.11 33.743 47.5 33.743h46.592c24.246 0 43.972-19.726 43.972-43.972v-42.027-38-66c0-9.925-8.075-18-18-18zm-28 68c5.514 0 10 4.486 10 10v44c0 5.514-4.486 10-10 10s-10-4.486-10-10c0-.417 0-44 0-44 0-5.514 4.486-10 10-10zm-28.424-12h.714c5.354 0 9.709 4.355 9.709 9.709v52.581c0 5.354-4.355 9.709-9.709 9.709h-.714c-4.963 0-9.062-3.745-9.635-8.557.025-.383.025-54.503 0-54.886.573-4.811 4.672-8.556 9.635-8.556zm-28 0h.714c4.963 0 9.062 3.745 9.635 8.557-.025.383-.025 54.503 0 54.886-.573 4.812-4.671 8.557-9.635 8.557h-.714c-5.354 0-9.709-4.355-9.709-9.709v-15.823c.088-.62.133-1.253.133-1.896v-4.572c0-.338-.054-.66-.133-.974v-29.317c0-5.354 4.355-9.709 9.709-9.709zm94.424 108.028c0 19.835-16.137 35.972-35.972 35.972h-46.592c-17.989 0-34.041-11.402-39.945-28.372-3.652-10.499-8.91-21.1-17.048-34.371-.062-.1-.127-.197-.197-.292l-33.356-44.992c-3.206-4.324-2.753-10.455 1.053-14.26 2.11-2.111 4.895-3.221 7.902-3.206 2.985.044 5.756 1.264 7.804 3.436l30.515 32.363c.11.116.227.226.35.329 3.781 3.151 8.841 3.909 13.353 2.051v5.605c0 9.765 7.944 17.709 17.709 17.709h.714c2.368 0 4.625-.475 6.691-1.322 4.47 4.483 7.018 10.601 7.018 16.952v12.37c0 2.209 1.791 4 4 4s4-1.791 4-4v-12.371c0-8.025-3.055-15.768-8.446-21.644.124-.141.259-.272.379-.417 3.251 3.926 8.159 6.432 13.643 6.432h.714c4.73 0 9.022-1.875 12.202-4.907 3.131 5.319 8.902 8.907 15.508 8.907 9.925 0 18-8.075 18-18v-44-60c0-5.514 4.486-10 10-10s10 4.486 10 10v66 38 42.028z"/></svg>
                .o-layout__item{:class => "u-4/5@tablet"}
                  <div><strong>C’est bientôt terminé !</strong> Il vous reste 2 réponses avant vos résultats</div>
        = render 'nav/next_previous', f: f, e: OpenStruct.new(has_error: has_error), m: flash.try(:[], "error").try(:[], 0), guidance: "yes"
