- title_data 'Votre adresse'
- raw_description = 'Quel est le code postal de votre lieu de résidence ?'
- description_data(raw_description)

- has_error = !(flash[:error].blank?)
- if has_error
  - classes_of_input = ['c-field', 'c-address-input'].join(" ")
  - aria_described_by_of_input = ['initInstr', 'address-error'].join(" ")
- else
  - classes_of_input = ['c-field', 'c-address-input', 'numberonly'].join(" ")
  - aria_described_by_of_input = ['address'].join(" ")

%main#main{role: "main"}
  = render 'shared/breadcrumb'
  .u-useful-width.u-margin-constraint
    = render 'shared/back_question'

    .o-card.o-card--question
      = form_with model: @address, url: address_questions_path, :local => true do |f|
        = render 'shared/progressbar'
        = render 'shared/question_number'
        = render 'shared/a_form_header', {title: "#{raw_description}"}

        .o-layout.o-layout--stretch.o-layout--center
          .o-layout__item{:class => "u-1/1 u-3/5@tablet"}
            .c-address__content
              #a11yAutocomplete
                %div{"data-widget" => "accessible-autocomplete"}
                  %label{for: "search", :class => "c-label c-are-label", id: "minimum-descr"} Code postal à 5 chiffres
                  %input#search{search_hash(@address, classes_of_input)}
                  %ul#results.autocomplete-list{role: "listbox", style: "display: none;"}
            
              %input#location_label.u-hidden{value: "#{@address.label}"}
              %table#address_form.u-hidden
                %tr
                  %td.label Street address
                  %td.slimField
                    %input#street_number.field{name: "address_form[street_number]", value:"#{@address.street_number}"}/
                  %td.wideField{:colspan => "2"}
                    %input#route.field{name: "address_form[route]", value:"#{@address.route}"}/
                %tr
                  %td.label City
                  %td.wideField{:colspan => "3"}
                    %input#locality.field{name: "address_form[city]", value:"#{@address.city}"}/
                %tr
                  %td.label State
                  %td.slimField
                    %input#administrative_area_level_1.field{name: "address_form[state]", value:"#{@address.state}"}/
                  %td.label Zip code
                  %td.wideField
                    %input#postal_code.field{name: "address_form[zipcode]", value:"#{@address.zipcode}"}/
                %tr
                  %td.label Country
                  %td.slimField
                    %input#country.field{name: "address_form[country]", value:"#{@address.label ? 'France' : ''}"}/
                  %td.label Citycode
                  %td.wideField
                    %input#citycode.field{name: "address_form[citycode]", value:"#{@address.citycode}"}/
          .o-layout__item{:class => "u-1/1 u-2/5@tablet"}
            .c-address__heartening
              .o-layout.o-layout--stretch
                .o-layout__item{:class => "u-1/6"}
                  = image_tag(empty_image, alt: "Signe d'encouragement", data: { "src" => image_path("shaka.svg") }) 
                .o-layout__item.c-address__hearteningtxt{:class => "u-5/6"}
                  <div><strong>C’est bientôt terminé !</strong> Il vous reste 2 réponses avant vos résultats</div>
        = render 'nav/next_previous', f: f, e: OpenStruct.new(has_error: has_error), m: flash.try(:[], "error").try(:[], 0), guidance: "yes"
