- id ||= ""
- value ||= ""
- text ||= ""
- hide_svg ||= false

.c-radioline.js-enterspace{id: "radio_#{id}"}
  .c-radiocontainer
    = radio_button_tag "allocation_form[type]", |
        "#{id}", |
        "#{value}" == "#{id}", | 
        id: "#{id}", |
        class: 'c-radioinput'
  %label.c-radiolabel{for: "#{id}"}
    %span="#{text}"

          
