- e = view_object(:error_view_object, {errors: flash[:error]})
- local_filters = local_assigns[:filters].map {|e| e.ordre_affichage ||= 999; e}

%main#main{role: "main"}

  %h2.c-callback-subtitle Vous êtes intéressé.e par
  = form_with id: "filter_question_form", url: peconnect_final_path, :local => true do |f|
    
    %fieldset.c-fieldset
      %legend.u-hidden-visually Cochez la situation &#xE0; : appuyez sur Tab pour changer de case, et Entr&#xE9;e pour en choisir une.
      .c-filterboxes2
        - local_filters.sort_by(&:ordre_affichage).each_with_index do |filter, indx|       
          = render 'shared/filter_form_line2', {id: "#{filter.slug}", current_text: "#{filter.name}", current_icon: "#{filter.icon}", indx: indx} 
                
    = f.submit 'Je valide', {class: 'c-callback-submit u-display-none', id: 'c-callback-submit1'}
