- v = view_object(:callback_question, local_assigns)

.c-callback-question
  .o-layout
    .o-layout__item{:class => "u-3/4"}
      - if v.display_duree_d_inscription?
        = render 'shared/callback_v_duree_inscription', {inscription: InscriptionForm.new(value: asker[:v_duree_d_inscription])}
      - elsif v.display_category?
        = render 'shared/callback_v_category', {category: CategoryForm.new(value: asker[:v_category])}
      - elsif v.display_alloc?
        = render 'shared/callback_v_alloc', {alloc: AllocationForm.new(type: asker[:v_allocation_type])}
      - elsif v.display_montant?
        = render 'shared/callback_v_alloc_montant', {montant: AreForm.new(minimum_income: asker[:v_allocation_value_min])}
      - else
        = render 'shared/callback_v_preferences', {filters: filters}
    .o-layout__item{:class => "u-1/4"}
      
