- e = view_object(:error_view_object, {errors: flash[:error]})

= form_with model: alloc, url: peconnect_question_path, :local => true do |f|

  %h2.c-callback-subtitle Quelle allocation percevez-vous actuellement ?

  .c-question__form.c-question-connected
    %fieldset.c-fieldset
      = render 'shared/allocation_form_line', {id: 'ASS_AER_APS_AS-FNE',           value: alloc.type, text: 'Une prestation de solidarité : ASS / AER / APS / AS-FNE'} 
      = render 'shared/allocation_form_line', {id: 'RPS_RFPA_RFF_pensionretraite', value: alloc.type, text: 'Une autre indemnité parmi les suivantes : RPS / RFPE / RFF / pension de retraite'} 
      = render 'shared/allocation_form_line', {id: 'RSA',                          value: alloc.type, text: 'Le RSA'} 
      = render 'shared/allocation_form_line', {id: 'AAH',                          value: alloc.type, text: 'L’AAH'} 
      = render 'shared/allocation_form_line', {id: 'pas_indemnise',                value: alloc.type, text: 'Je ne suis pas indemnisé•e', hide_svg: true} 
  
  = f.submit 'Je valide', {class: 'c-callback-submit'}
