.c-newhomehero
  .c-navbar
    .c-newhomehero__header
      .u-useful-width.u-useful-width--larger.u-margin-constraint
        = render 'shared/logozone', {display_search: true}

  .c-newhomehero__content
    .c-newhomehero-covid-container.u-useful-width.u-useful-width--larger.u-margin-constraint
      .c-newhomehero-covid
        .c-newhomehero-covid__title
          [INFORMATION COVID-19]
        .c-newhomehero-covid__text
          En raison de la crise sanitaire actuelle, les conditions d'accès à certaines aides ou prestations peuvent être modifiées. 
        .c-newhomehero-covid__text
          Des précisions peuvent être apportées directement sur nos contenus, sur le site de Pôle emploi ou ceux de nos partenaires
    .c-newhomehero-hero-container.u-useful-width.u-useful-width--larger.u-margin-constraint
      .o-layout.o-layout--middle
        .o-layout__item{:class => "u-1/1 u-2/3@desktop"}
          %h1.c-newhomehero__title{:class => "u-text--center u-textalign-left-from@desktop"} 
            %span Boostez votre
            %span recherche d'emploi
            %span en moins de 4 minutes
        .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
          %div{:class => "u-hide u-show@desktop"}
            = image_tag(empty_image, alt: "", data: { "src" => image_path("jump.svg") }) 
      .o-layout.o-layout--middle.c-newhomehero-actions
        .o-layout__item{:class => "u-1/1 u-2/3@desktop"}
          = form_with url: welcome_start_wizard_path, :local => true, id: 'start_wizard_form', class: "c-newhomehero__cta" do |f|
            = f.submit 'Je commence', class: 'c-main-cta2'
        .o-layout__item{:class => "u-1/1 u-1/3@desktop"}
          .c-newhomehero-durationballast
            &nbsp;
          %a.c-newhomehero-discover{data: {"modal-content-id"=>"modal_video", "modal-prefix-class" => "video", "modal-focus-id" => "js-modal-close" }}
            %span.u-cursor-pointer
              = image_tag(empty_image, alt: "Voir la vidéo", class: "c-seevideo js-modal", data: { "src" => image_path("playvideo.svg")}) 
            %span.c-newhomehero-discovertxt
              Découvrir Clara en vidéo
              #modal_video.u-display-none
                %div.c-video-close-line
                  %button#js-modal-close.js-modal-close.video-modal-close.c-video-btn-close{"data-content-back-id" => "modal_video", :type => "button"}
                    Fermer
                .c-video-container
                .c-video-close-line.is-bottom
                  %button.c-btn.c-btn--result.is-modal-video.u-margin-vertical.js-modal-close
                    Fermer la fenêtre

          .c-newhomehero-duration
            Durée : 1min 30sec
