%main#main.mw1140p.center{role: "main"}
  .u-useful-width.u-margin-constraint
    %h1.c-cookie-title.u-margin-top 
      Gestion de vos préférences sur les cookies

    %p.c-cookie-explanation 
      En activant les cookies, votre navigateur retient certaines informations de visite, et c’est grâce à cela que nous continuerons d’affiner votre expérience sur nos sites. 
    %p.c-cookie-explanation 
      Sélectionnez votre choix concernant chaque catégorie de cookies. Cliquez sur “Valider et continuer” pour valider vos choix.

    .o-layout
      .o-layout__item{:class => "u-1/2"}
        %h2.c-cookie-preference Préférence pour tous les services
      .o-layout__item{:class => "u-1/2"}
        .o-layout
          .o-layout__item{:class => "u-1/2"}
            %button.c-cookie-cta.c-cookie-cta--green Tout autoriser
          .o-layout__item{:class => "u-1/2"}
            %button.c-cookie-cta.c-cookie-cta--red Tout interdire


    .o-layout
      .o-layout__item{:class => "u-1/2"}
        %h2.c-cookie-preference Statistiques
      .o-layout__item{:class => "u-1/2"}
        .o-layout
          .o-layout__item{:class => "u-1/2"}
            %button.c-cookie-cta.c-cookie-cta--green Autoriser
          .o-layout__item{:class => "u-1/2"}
            %button.c-cookie-cta.c-cookie-cta--red Interdire


    .o-layout
      .o-layout__item{:class => "u-1/2"}
        %h2.c-cookie-preference Navigation
      .o-layout__item{:class => "u-1/2"}
        .o-layout
          .o-layout__item{:class => "u-1/2"}
            %button.c-cookie-cta.c-cookie-cta--green Autoriser
          .o-layout__item{:class => "u-1/2"}
            %button.c-cookie-cta.c-cookie-cta--red Interdire


    = form_with model: @cooky, url: cooky_path, method: :put do |f|
      - if @cooky.errors.any?
        #error_explanation
          %h2= "#{pluralize(@cooky.errors.count, "error")} prohibited this cooky from being saved:"
          %ul
            - @cooky.errors.full_messages.each do |message|
              %li= message

      .field
        = f.label :statistic
        = f.check_box :statistic
      .field
        = f.label :navigation
        = f.check_box :navigation
      .actions
        = f.submit 'Save'


