- title_data 'Gestion des cookies'
- description_data 'En activant les cookies, votre navigateur retient certaines informations de visite.'
- e = view_object(:error_view_object, {errors: flash[:error]})
- cookie_preference = CookiePreference.new(current_session: session)
- current_ga_value = cookie_preference.current_ga_authorization_value
- current_hj_value = cookie_preference.current_hj_authorization_value

%main#main{role: "main"}
  .u-useful-width.u-margin-constraint
    %h1.c-cookie-title.u-margin-top.u-margin-bottom-large
      Gestion de vos préférences sur les cookies

    %p.c-cookie-explanation 
      En activant les cookies, votre navigateur retient certaines informations de visite, et c’est grâce à cela que nous continuerons d’affiner votre expérience sur nos sites. 
      Sélectionnez votre choix concernant chaque catégorie de cookies. Cliquez sur “Valider et continuer” pour valider vos choix.
      %span
        =link_to "En savoir plus", confidentiality_index_path
      %span
        sur notre politique de confidentialité.
    .o-layout.c-cookie-line
      .o-layout__item{:class => "u-1/2"}
        %h2.c-cookie-preference Préférence pour tous les services
      .o-layout__item{:class => "u-1/2"}
        .o-layout
          .o-layout__item{:class => "u-1/2"}
            %button#authorize_all.c-cookie-cta.c-cookie-cta--green Tout autoriser
          .o-layout__item{:class => "u-1/2"}
            %button#forbid_all.c-cookie-cta.c-cookie-cta--red Tout interdire

      
    = form_with model: @cooky, url: cooky_path, method:  :put, :local => true, id: "cookie-form" do |f|
      %legend.u-hidden-visually Cochez vos préférences pour les cookies, de statistiques et de navigation  : appuyez sur Tab pour changer de case, et Entr&#xE9;e pour en choisir un.      
      .o-layout.c-cookie-line
        .o-layout__item{:class => "u-1/2"}
          %h2.c-cookie-preference 
            Statistiques
          %p.c-cookie-description
            =current_ga_value
            =current_hj_value
            Ces cookies nous permettent d'analyser l'utilisation du site afin de pouvoir en mesurer et en améliorer la performance.
        .o-layout__item{:class => "u-1/2"}
          .o-layout
            .o-layout__item{:class => "u-1/2@desktop u-1/2@tablet u-text--center"}  
              = render 'shared/cookies_form_line', {id: 'authorize_statistic', value: current_ga_value, text: 'Autoriser', choice: 'analytics'}           
            .o-layout__item{:class => "u-1/2@desktop u-1/2@tablet u-text--center"}                          
              = render 'shared/cookies_form_line', {id: 'forbid_statistic', value: current_ga_value, text: 'Interdire', choice: 'analytics'}       

      .o-layout.c-cookie-line
        .o-layout__item{:class => "u-1/2"}
          %h2.c-cookie-preference  
            Navigation
          %p.c-cookie-description
            Ces cookies nous permettent d'analyser la navigation sur le site afin de l’améliorer et d’analyser les comportements des internautes 
        .o-layout__item{:class => "u-1/2"}
          .o-layout
            .o-layout__item{:class => "u-1/2@desktop u-1/2@tablet u-text--center"}
              = render 'shared/cookies_form_line', {id: 'authorize_navigation', value: current_hj_value, text: 'Autoriser', choice: 'hotjar'}       
            .o-layout__item{:class => "u-1/2@desktop u-1/2@tablet u-text--center"}
              = render 'shared/cookies_form_line', {id: 'forbid_navigation', value: current_hj_value, text: 'Interdire', choice: 'hotjar'}                     
      
      
      .actions.u-text--right
        %button#submit-cookie-preference.c-btn.c-btn--result.c-cookie-submit Valider et continuer
