%h1 Listing cookies

%table
  %thead
    %tr
      %th Statistic
      %th Navigation
      %th
      %th
      %th

  %tbody
    - @cookies.each do |cooky|
      %tr
        %td= cooky.statistic
        %td= cooky.navigation
        %td= link_to 'Show', cooky
        %td= link_to 'Edit', edit_cooky_path(cooky)
        %td= link_to 'Destroy', cooky, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Cookie', new_cooky_path
