- title_data 'Contact'

%main#main.mw1140p.center{role: "main"}
  
  = render 'shared/breadcrumb'

  .u-useful-width.u-margin-constraint
    .c-contact-card
      .o-layout
        .o-layout__item{class:"u-1/1 u-3/4@tablet"}
          %h1.c-contact-title.u-margin-left.u-padding-top
            Formulaire de contact
          = form_with model: @contact, url: contact_index_path, local: false, class: 'c-contact-form u-margin-left' do |f|
            %p.c-contact-separator
            .o-layout
              .o-layout__item{class:"u-1/2"}
                .c-contact-field
                  %label.c-contact-label Prénom
                  = f.text_field :first_name, id: :first_name, class: "c-contact-input c-contact-input-text"
              .o-layout__item{class:"u-1/2"}
                .c-contact-field
                  %label.c-contact-label Nom
                  = f.text_field :last_name, id: :last_name, class: "c-contact-input c-contact-input-text"
            %p
              .c-contact-field
                %label.c-contact-label Email
                = f.text_field :email, id: :email, class: "c-contact-input c-contact-input-text"
            %p
              .c-contact-field
                %label.c-contact-label Region
                %select.c-contact-input.c-contact-input-select{:name => "contact_form[region]"}
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Choisissez votre région
                  %option{:value => "ARA"} Auvergne-Rhône-Alpes
                  %option{:value => "BFC"} Bourgogne-Franche-Comté
                  %option{:value => "BRE"} Bretagne
                  %option{:value => "CVL"} Centre-Val de Loire
                  %option{:value => "COR"} Corse
                  %option{:value => "GES"} Grand Est
                  %option{:value => "HDF"} Hauts-de-France
                  %option{:value => "IDF"} Île-de-France
                  %option{:value => "NOR"} Normandie
                  %option{:value => "NAQ"} Nouvelle-Aquitaine
                  %option{:value => "OCC"} Occitanie
                  %option{:value => "PDL"} Pays de la Loire
                  %option{:value => "PAC"} Provence-Alpes-Côte d'Azur
                  %option{:value => "GP"} Guadeloupe
                  %option{:value => "MQ"} Martinique
                  %option{:value => "GF"} Guyane
                  %option{:value => "RE"} La réunion
                  %option{:value => "YT"} Mayotte
            %p
              .c-contact-field
                %label.c-contact-label Vous êtes
                %select.c-contact-input.c-contact-input-select{:name => "contact_form[youare]"}
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Choisissez votre status
                  %option{:value => "particulier"} Un particulier
                  %option{:value => "entreprise"} Une entreprise
                  %option{:value => "institution"} Une institution
            %p.c-contact-separator
              .c-contact-field
                %label.c-contact-label Catégorie de la demande
                %select.c-contact-input.c-contact-input-select{:name => "contact_form[askfor]"}
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Pourquoi vous contactez-nous ?
                  %option{:value => "signaler"} Signaler un lien cassé
                  %option{:value => "modifier"} Apporter une information pour modifier un contenu
                  %option{:value => "referencer"} Référencer une nouvelle aide
                  %option{:value => "autre"} Autre
            %p
              .c-contact-field
                %label.c-contact-label Votre question
                = f.text_area :question, id: :question, class: "c-contact-input", rows: 6
            = f.submit 'Envoyer votre message', "class" => "c-contact-submit u-padding-vertical-small u-padding-horizontal-huge"


        .o-layout__item{class:"u-1/1 u-1/4@tablet"}
          .c-information
            %h2.c-contact-infotitle.u-margin-left-small.u-padding-top
              Informations
            %p.u-margin-left-small
              L&apos;éligibilité est donnée à titre indicatif. 
            %p.u-margin-left-small
              Les organismes qui gèrent les aides, sont les seuls compétents pour décider de leur attribution, et ont seuls la visibilité sur le budget qui leur est alloué. 
            %p.u-margin-left-small.u-margin-bottom-none
              Malgré le soin apporté à leur rédaction et à leur actualisation, les informations indiquées sur les fiches ne peuvent en aucune manière engager la responsabilité du rédacteur.
