- title_data 'Contact'

%main#main.mw1140p.center{role: "main"}
  
  = render 'shared/breadcrumb'

  .u-useful-width.u-margin-constraint
    .c-contact-card
      .o-layout
        .o-layout__item{class:"u-1/1 u-3/4@tablet"}
          %h1.c-contact-title.u-margin-left.u-padding-top
            Formulaire de contact
          = form_with model: @contact, url: contact_index_path, local: false, class: 'c-contact-form u-margin-left' do |f|
            %p.c-contact-separator
            .o-layout
              .o-layout__item{class:"u-1/2"}
                .c-contact-field
                  %label.c-contact-label Prénom
                  = f.text_field :first_name, id: :first_name, class: "c-contact-input c-contact-input-text"
              .o-layout__item{class:"u-1/2"}
                .c-contact-field
                  %label.c-contact-label Nom
                  = f.text_field :last_name, id: :last_name, class: "c-contact-input c-contact-input-text"
            %p
              .c-contact-field
                %label.c-contact-label Email
                = f.text_field :email, id: :email, class: "c-contact-input c-contact-input-text"
            %p
              .c-contact-field
                %label.c-contact-label Region
                %select.c-contact-input
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Choisissez votre région
                  %option{:value => "1"} Auvergne-Rhône-Alpes
                  %option{:value => "2"} Bourgogne-Franche-Comté
                  %option{:value => "3"} Bretagne
                  %option{:value => "4"} Centre-Val de Loire
                  %option{:value => "5"} Corse
                  %option{:value => "6"} Grand Est
                  %option{:value => "7"} Hauts-de-France
                  %option{:value => "8"} Île-de-France
                  %option{:value => "9"} Normandie
                  %option{:value => "10"} Nouvelle-Aquitaine
                  %option{:value => "11"} Occitanie
                  %option{:value => "12"} Pays de la Loire
                  %option{:value => "13"} Provence-Alpes-Côte d'Azur
                  %option{:value => "14"} Guadeloupe
                  %option{:value => "15"} Martinique
                  %option{:value => "16"} Guyane
                  %option{:value => "17"} La réunion
                  %option{:value => "18"} Mayotte
            %p
              .c-contact-field
                %label.c-contact-label Vous êtes
                = f.text_field :youare, id: :youare, class: "c-contact-input"
            %p.c-contact-separator
              .c-contact-field
                %label.c-contact-label Catégorie de la demande
                = f.text_field :askfor, id: :askfor, class: "c-contact-input"
            %p
              .c-contact-field
                %label.c-contact-label Votre question
                = f.text_field :question, id: :question, class: "c-contact-input"
            = f.submit 'Envoyer votre message', "class" => "c-contact-submit u-padding-vertical-small u-padding-horizontal-huge"


        .o-layout__item{class:"u-1/1 u-1/4@tablet"}
          .c-information
            %h2.c-contact-infotitle.u-margin-left-small.u-padding-top
              Informations
            %p.u-margin-left-small
              L&apos;éligibilité est donnée à titre indicatif. 
            %p.u-margin-left-small
              Les organismes qui gèrent les aides, sont les seuls compétents pour décider de leur attribution, et ont seuls la visibilité sur le budget qui leur est alloué. 
            %p.u-margin-left-small.u-margin-bottom-none
              Malgré le soin apporté à leur rédaction et à leur actualisation, les informations indiquées sur les fiches ne peuvent en aucune manière engager la responsabilité du rédacteur.
