- title_data 'Contact'
- has_error = !(flash[:error].blank?)

%main#main.mw1140p.center{role: "main"}
  %p
    =flash[:error]
  %p
    =has_error
  = render 'shared/breadcrumb'

  .u-useful-width.u-margin-constraint
    .c-contact-card
      .o-layout
        .o-layout__item{class:"u-1/1 u-3/4@tablet"}
          %h1.c-contact-title.u-margin-left.u-padding-top
            Formulaire de contact
          = form_with model: @contact, url: contact_index_path, local: false, class: 'c-contact-form u-margin-left' do |f|
            %p.c-contact-separator
            %h2.c-contact-numbered
              %span.c-contact-number &nbsp;1&nbsp;
              %span Informations personnelles
            .o-layout
              .o-layout__item{class:"u-1/2"}
                .c-contact-field
                  %label.c-contact-label Prénom
                  = f.text_field :first_name, id: :first_name, class: "c-contact-input c-contact-input-text", :value => @contact.first_name
              .o-layout__item{class:"u-1/2"}
                .c-contact-field
                  %label.c-contact-label Nom
                  = f.text_field :last_name, id: :last_name, class: "c-contact-input c-contact-input-text", :value => @contact.last_name
            %p
              .c-contact-field
                %label.c-contact-label Email
                = f.text_field :email, id: :email, class: "c-contact-input c-contact-input-text", :value => @contact.email
            %p
              .c-contact-field
                %label.c-contact-label Region
                = f.select :region, [["Auvergne-Rhône-Alpes","ARA"],["Bourgogne-Franche-Comté","BFC"],["Bretagne","BRE"],["Centre-Val de Loire","CVL"],["Corse","COR"],["Grand Est","GES"],["Hauts-de-France","HDF"],["Île-de-France","IDF"],["Normandie","NOR"],["Nouvelle-Aquitaine","NAQ"],["Occitanie","OCC"],["Pays de la Loire","PDL"],["Provence-Alpes-Côte d'Azur","PAC"],["Guadeloupe","GP"],["Martinique","MQ"],["Guyane","GF"],["La réunion","RE"],["Mayotte","YT"]], {include_blank: "Choisissez votre région"}, {class: "c-contact-input c-contact-input-select"}

            %p
              .c-contact-field
                %label.c-contact-label Vous êtes
                = f.select :youare, [["Un particulier","particulier"],["Une entreprise","entreprise"],["Une institution","institution"]], {include_blank: "Choisissez votre status"}, {class: "c-contact-input c-contact-input-select"}
            %p.c-contact-separator
              %h2.c-contact-numbered
                %span.c-contact-number &nbsp;2&nbsp;
                %span Demande à envoyer

              .c-contact-field
                %label.c-contact-label Catégorie de la demande
                = f.select :askfor, [["Signaler un lien cassé","signaler"],["Apporter une information pour modifier un contenu","modifier"],["Référencer une nouvelle aide","referencer"],["Autre","autre"]], {include_blank: "Pourquoi vous contactez-nous ?"}, {class: "c-contact-input c-contact-input-select"}
                  
            %p
              .c-contact-field
                %label.c-contact-label Votre question
                = f.text_area :question, id: :question, class: "c-contact-input c-contact-input-textarea", rows: 6, placeholder: "Ce formulaire de contact n’est pas destiné à étudier les situations individuelles."
            %p.c-contact-separator
            = f.submit 'Envoyer votre message', "class" => "c-contact-submit u-padding-vertical-small u-padding-horizontal-huge u-margin-bottom"


        .o-layout__item{class:"u-1/1 u-1/4@tablet"}
          .c-information
            %h3.c-contact-infotitle.u-margin-left-small.u-padding-top
              Informations
            %p.u-margin-left-small
              L&apos;éligibilité est donnée à titre indicatif. 
            %p.u-margin-left-small
              Les organismes qui gèrent les aides, sont les seuls compétents pour décider de leur attribution, et ont seuls la visibilité sur le budget qui leur est alloué. 
            %p.u-margin-left-small.u-margin-bottom-none
              Malgré le soin apporté à leur rédaction et à leur actualisation, les informations indiquées sur les fiches ne peuvent en aucune manière engager la responsabilité du rédacteur.
