- title_data 'Contact'
- errors = flash[:error] || {}
- has_error = !(errors.blank?)
- ctext = 'c-contact-input c-contact-input-text'
- csel = 'c-contact-input c-contact-input-select'
- carea = 'c-contact-input c-contact-input-textarea'
- cerr = ' is-error'

%main#main.mw1140p.center{role: "main"}

  = render 'shared/breadcrumb'

  .u-useful-width.u-margin-constraint
    .c-contact-card
      .o-layout
        .o-layout__item{class:"u-1/1 u-3/4@tablet"}
          %h1.c-contact-title.u-margin-left.u-padding-top
            Formulaire de contact
          = form_with model: @contact, url: contact_index_path, local: false, class: 'c-contact-form u-margin-left' do |f|
            %p.c-contact-separator
            %h2.c-contact-numbered
              %span.c-contact-number &nbsp;1&nbsp;
              %span Informations personnelles
            .o-layout
              .o-layout__item{class:"u-1/2"}
                .c-contact-field
                  %label.c-contact-label Prénom
                  %div
                    = f.text_field :first_name, id: :first_name, class: "#{errors["first_name"] ? ctext+cerr : ctext}", :value => @contact.first_name
                    %span.c-contact-exclaim !
                  - if errors["first_name"]
                    %label.c-contact-smalllabel=errors["first_name"][0]
              .o-layout__item{class:"u-1/2"}
                .c-contact-field
                  %label.c-contact-label Nom
                  = f.text_field :last_name, id: :last_name, class: "#{errors["last_name"] ? ctext+cerr : ctext}", :value => @contact.last_name
                  - if errors["last_name"]
                    %label.c-contact-smalllabel=errors["last_name"][0]
            %p
              .c-contact-field
                %label.c-contact-label Email
                = f.text_field :email, id: :email, class: "#{errors["email"] ? ctext+cerr : ctext}", :value => @contact.email
                - if errors["email"]
                  %label.c-contact-smalllabel=errors["email"][0]
            %p
              .c-contact-field
                %label.c-contact-label Region
                = f.select :region, [["Auvergne-Rhône-Alpes","ARA"],["Bourgogne-Franche-Comté","BFC"],["Bretagne","BRE"],["Centre-Val de Loire","CVL"],["Corse","COR"],["Grand Est","GES"],["Hauts-de-France","HDF"],["Île-de-France","IDF"],["Normandie","NOR"],["Nouvelle-Aquitaine","NAQ"],["Occitanie","OCC"],["Pays de la Loire","PDL"],["Provence-Alpes-Côte d'Azur","PAC"],["Guadeloupe","GP"],["Martinique","MQ"],["Guyane","GF"],["La réunion","RE"],["Mayotte","YT"]], {include_blank: "Choisissez votre région"}, {class: "#{errors["region"] ? csel+cerr : csel}"}
                - if errors["region"]
                  %label.c-contact-smalllabel=errors["region"][0]

            %p
              .c-contact-field
                %label.c-contact-label Vous êtes
                = f.select :youare, [["Un particulier","particulier"],["Une entreprise","entreprise"],["Une institution","institution"]], {include_blank: "Choisissez votre status"}, {class: "#{errors["youare"] ? csel+cerr : csel}"}
                - if errors["youare"]
                  %label.c-contact-smalllabel=errors["youare"][0]
            %p.c-contact-separator
              %h2.c-contact-numbered
                %span.c-contact-number &nbsp;2&nbsp;
                %span Demande à envoyer

              .c-contact-field
                %label.c-contact-label Catégorie de la demande
                = f.select :askfor, [["Signaler un lien cassé","signaler"],["Apporter une information pour modifier un contenu","modifier"],["Référencer une nouvelle aide","referencer"],["Autre","autre"]], {include_blank: "Pourquoi vous contactez-nous ?"}, {class: "#{errors["askfor"] ? csel+cerr : csel}"}
                - if errors["askfor"]
                  %label.c-contact-smalllabel=errors["askfor"][0]
                  
            %p
              .c-contact-field
                %label.c-contact-label Votre question
                = f.text_area :question, id: :question, class: "#{errors["question"] ? carea+cerr : carea}", rows: 6, placeholder: "Ce formulaire de contact n’est pas destiné à étudier les situations individuelles."
                - if errors["question"]
                  %label.c-contact-smalllabel=errors["question"][0]
            %p.c-contact-separator
            = f.submit 'Envoyer votre message', "class" => "c-contact-submit u-padding-vertical-small u-padding-horizontal-huge u-margin-bottom"


        .o-layout__item{class:"u-1/1 u-1/4@tablet"}
          .c-information
            %h3.c-contact-infotitle.u-margin-left-small.u-padding-top
              Informations
            %p.u-margin-left-small
              L&apos;éligibilité est donnée à titre indicatif. 
            %p.u-margin-left-small
              Les organismes qui gèrent les aides, sont les seuls compétents pour décider de leur attribution, et ont seuls la visibilité sur le budget qui leur est alloué. 
            %p.u-margin-left-small.u-margin-bottom-none
              Malgré le soin apporté à leur rédaction et à leur actualisation, les informations indiquées sur les fiches ne peuvent en aucune manière engager la responsabilité du rédacteur.
