<%- is_mandatory ||= false %>
<%- help ||= nil %>
<%- placeholder ||= nil %>


<div class="field-unit__label">
  <% label_text = t(
    "helpers.label.#{f.object.class.name.underscore}.#{field.attribute}",
    default: field.attribute.to_s,
  ).titleize %>

  <%= f.label label_text, for:"#{f.object.class.name.underscore}_#{field.attribute}", id: "label_#{field.attribute}" %>
  <% if is_mandatory %>
    <span class="field-unit__label-mandatory">*</span>
  <% end %>
</div>
<div class="field-unit__field">

  <% if help %>
    <%= f.label t(help, default: "e"), for:"#{f.object.class.name.underscore}_#{field.attribute}", "class" => "field-unit__help" %>
  <% end %>
  <% if field.resource && field.resource.variable && field.resource.variable.elements %>
    <%- elts = field.resource.variable.elements.split(",") %>
    <% if field.resource.variable.elements_translation %>
      <%- elts_tr = field.resource.variable.elements_translation.split(",") %>
    <% else %>
      <%- elts_tr = elts %>
    <% end %>
    <select id="rule_value_eligible_selectible" data-foo="<%= field.resource.variable.inspect %>">
      <option value></option>
      <% elts.each_with_index do |elt, i| %>
        <%- elt_tr = elts_tr[i]%>
        <% if elt == field.resource.value_eligible %>
          <option value="<%=elt%>" selected="selected"><%=elt_tr%></option>
        <% else %>
          <option value="<%=elt%>"><%=elt_tr%></option>
        <% end %>
      <% end %>
    </select>
     <input id="rule_value_eligible" style="display: none"></select>
  <% else %>
    <%= f.text_field field.attribute, placeholder: t(placeholder, default: "") %>
     <select id="rule_value_eligible_selectible" style="display: none"></select>
  <% end %>

</div>
