   

<div class="c-newaid-action-icons">
        <% if v.publishable?(current_user.email) %>
          <div class="c-newaid-finalactions-buttons">
            <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_5_path, html: { class: "form" }) do |f| %>
              <%= hidden_field(:slug, :value, value: page.resource.slug) %>
              <%= hidden_field(:action_asked, :value, value: "publish") %>
<%= image_submit_tag "admin/read_to_publish.svg", class: "icon", alt: "Publier sur le site web"%>
            <% end %>            
          </div>
        <% elsif v.status_published? %>
          <div class="c-newaid-finalactions">
            <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_5_path, html: { class: "form" }) do |f| %>
              <%= hidden_field(:slug, :value, value: page.resource.slug) %>
              <%= hidden_field(:action_asked, :value, value: "archive") %>
              <%= f.submit "Archiver cette aide", class: "c-newbutton c-newaid-actionrecord" %>
            <% end %>            
          </div>
        <% elsif v.status_waiting_for? %>
          <div class="c-newaid-finalactions">
          </div>
        <% elsif v.status_archived? && v._all_stages_ok? %>
          <div class="c-newaid-finalactions">
            <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_5_path, html: { class: "form" }) do |f| %>
              <%= hidden_field(:slug, :value, value: page.resource.slug) %>
              <%= hidden_field(:action_asked, :value, value: "publish") %>
              <%= image_submit_tag "admin/read_to_publish.svg", class: "icon", alt: "Publier sur le site web"%>
            <% end %>            
          </div>
        <% elsif v.status_archived? && !v._all_stages_ok? %>
          <div class="c-newaid-finalactions">
          </div>
        <% else %>
          <div class="c-newaid-finalactions">
          <% if v.reread_h[:disabled] != "disabled"  %>
            <div  class="c-newaid-finalaction">
              <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_5_path, html: { class: "form" }) do |f| %>
                <%= hidden_field(:slug, :value, value: page.resource.slug) %>
                <%= hidden_field(:action_asked, :value, value: "reread") %>
                <%= image_submit_tag "admin/read_to_publish.svg", class: "icon", alt: "Demander la relecture" %>
                <% end %> 
              <% end %>            
            </div>
            <div  class="c-newaid-finalaction">
              <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_5_path, html: { class: "form" }) do |f| %>
                <%= hidden_field(:slug, :value, value: page.resource.slug) %>
                <%= hidden_field(:action_asked, :value, value: "keep") %>
                <%= f.submit "Conserver le brouillon", class: "c-newbutton c-newaid-actionrecord" %>
              <% end %>            
            </div>
            <div  class="c-newaid-finalaction">
              <%= form_for([namespace, page.resource], method: "post", url: admin_aid_creation_create_stage_5_path, html: { class: "form" }) do |f| %>
                <%= hidden_field(:slug, :value, value: page.resource.slug) %>
                <%= hidden_field(:action_asked, :value, value: "discard") %>
                <%= image_submit_tag "admin/delete_aid.svg", class: "icon", data: { confirm: 'Supprimer le brouillon ?' }, alt: "Supprimer le brouillon"%>
              <% end %>            
            </div>
          </div>
          
        <% end %>
