!!!
%html.c-html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "initial-scale=1, maximum-scale=1", :name => "viewport"}
    %meta{:name => "turbolinks-cache-control", :content => "no-cache"}

    = render 'shared/tab_title', {title_data: (yield :title_data) }

    = javascript_tag "window.clara = window.clara || {}; clara.hotjar_id = '#{ENV['ARA_HOTJAR_ID']}';clara.ga_id = '#{ENV['ARA_GOOGLE_ANALYTICS_ID']}'; clara.version = '#{ARA_VERSION}'; clara.env = #{ARA_EXT_URL.to_json}"
    = include_gon 
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'print', media: 'print'
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel: "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if session[:cookie] && session[:cookie]["disable_statistic"] && session[:cookie]["disable_statistic"] == "1"
      = javascript_tag "window.ga = null;"

    = favicon_link_tag 'favicon.ico'        
                
  %body{class: "c-body #{controller_name} #{action_name}", data: {env: Rails.env}}
    .c-turbolinks-transition.u-hidden
      .c-loader
    .c-body__wrapper
      .c-body__content
        = render 'shared/header'
        = yield
      %footer.c-body__footer
        - if content_for?(:footer)
          = yield :footer
        - else
          = render partial: 'shared/footer', locals: {the_request: request}

