!!!
%html.c-html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "initial-scale=1, maximum-scale=1", :name => "viewport"}

    = render 'shared/tab_title', {title_data: (yield :title_data) }

    = javascript_tag "window.clara = window.clara || {}; clara.version = '#{ARA_VERSION}'; clara.env = #{ARA_EXT_URL.to_json}"
    = include_gon 
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'print', media: 'print'
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel: "stylesheet"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'
    
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');                
      function defer(method) { if (window.jQuery && _) { method(); } else { setTimeout(function() { defer(method) }, 50); } }
      defer(function() {
        if (window.is_google_analytics_session_already_defined) {
          // Do nothing
        } else {
          //load google analytics
          ga("create", "#{ENV['ARA_GOOGLE_ANALYTICS_ID']}", "auto");
          window.is_google_analytics_session_already_defined = true;
          $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function(data) {
            var current_ip = _.get(data, 'ip');
            var pe_ips = _.split(_.get(window, 'clara.env.ARA_URL_PE'), ",");
            if (_.includes(pe_ips, current_ip)) {
              console.log("Bienvenue chez Pôle Emploi");
              //load hotjar
              (function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)}; h._hjSettings={hjid:"#{ENV['ARA_HOTJAR_ID']}",hjsv:5}; a=o.getElementsByTagName('head')[0]; r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv; a.appendChild(r); })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
              ga('set', 'dimension1', 'true');
            } else {
              console.log("Bienvenue");
              ga('set', 'dimension1', 'false');
            }
            console.log("IP : " + current_ip);
            console.log("Date : " + _.fullDateFr());
            console.log("Version : " + clara.version);
          });
        }
      });  
      
  %body{class: "c-body #{controller_name} #{action_name}", data: {env: Rails.env}}
    .c-turbolinks-transition.u-hidden
      .loader
    .c-body__wrapper
      .c-body__content
        = render 'shared/header'
        = yield
      %footer.c-body__footer
        - if content_for?(:footer)
          = yield :footer
        - else
          = render partial: 'shared/footer', locals: {the_request: request}

