!!!
%html.c-html{:lang => "fr"}
  %head

    = render 'shared/tab_title', {title_data: (yield :title_data), description_data: (yield :description_data) }

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "initial-scale=1, maximum-scale=1", :name => "viewport"}
    %meta{:name => "turbolinks-cache-control", :content => "no-cache"}
    / Google search console SebSEO
    %meta{:content => "neOTrE-YKZ9LbgLlaX8UkYN6MJTPlWpeotPQqbrJ19Q", :name => "google-site-verification"}/
    / Google search console Mat
    %meta{:content => "TNQnOQs84jCeQUgbEPOAV9gE4LXDUQaG5ypdnlRz2E8", :name => "google-site-verification"}/
    / Google search console Beg
    %meta{:content => "eZYLdUFSc9uBqciZ7fcOxXybmBPxcPME-N9NCRvFn8w", :name => "google-site-verification"}/
    / Google search console Maxd
    %meta{:content => "f_xo9InTg_SGabP-vnvDjrslUaixMcuxCaGidnXJT9s", :name => "google-site-verification"}/
    / Google search console Davb
    %meta{:content => "rjlrEGuLOWAOnmomQMmM5epqCRA3dZY4p1oMDbfCxiY", :name => "google-site-verification"}/
    / Google search console Acm
    %meta{:content => "YOm5sNGxbHWmN2Rf3Udg6v29ca5YjM3RNRz8TjWA6Pw", :name => "google-site-verification"}/
    / Google search console Mar
    %meta{:content => "0jDmSXtIkrU_nDcXoExkAHbG0TmRlGrx7LdJoX9ktWg", :name => "google-site-verification"}/


    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = stylesheet_link_tag 'print', media: 'print'
    = favicon_link_tag 'favicon.ico'        
    = javascript_tag "window.clara = window.clara || {}; clara.hotjar_id = '#{ENV['ARA_HOTJAR_ID'].to_s}';clara.ga_id = '#{ENV['ARA_GOOGLE_ANALYTICS_ID'].to_s}'; clara.version = '#{ARA_VERSION}'; clara.env = #{ARA_EXT_URL.to_json};"
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload', 'async' => Rails.env.production?, 'defer' => Rails.env.production?
                
  %body{class: "c-body #{controller_name} #{action_name}", data: {env: Rails.env}}
    .c-turbolinks-transition.u-hidden
      .c-loader
    .c-body__wrapper
      .c-body__content
        = render 'shared/header'
        = yield
      %footer.c-body__footer
        - if content_for?(:footer)
          = yield :footer
        - else
          = render partial: 'shared/footer', locals: {the_request: request}
  
    = include_gon


