<%- v = view_object(:navigation) %>

<div class="medium-bottom-margin c-topbar">
  <div class="c-topbar__logo">
    <svg width="51px" height="51px" viewBox="0 0 55 56" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Group" fill-rule="nonzero"> <path d="M54.9,27.8 C54.9,42.9 42.7,55.1 27.6,55.1 C12.5,55.1 0.3,42.9 0.3,27.8 C0.3,12.7 12.5,0.5 27.6,0.5 C42.7,0.5 54.9,12.7 54.9,27.8 Z" id="path2_fill" fill="#0B2D3D"></path> <path d="M55,27.5 C55,42.7 42.7,55 27.5,55 C12.3,55 0,42.6 0,27.5 C0,12.3 12.3,0 27.5,0 C42.7,0 55,12.3 55,27.5 Z" id="path24_fill" fill="#152E3A"></path> <polygon id="path25_fill" fill="#057DBC" points="12.9 24.1 32.1 24.3 37 42.1 44.9 6.4"></polygon> </g> </g> </svg>
    <svg class="c-topbar__logotxt" width="34px" height="13px" viewBox="0 0 68 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Group" fill="#152E3A" fill-rule="nonzero"><path d="M18.7,23.5 C16.3,24.8 13.9,25.3 11.6,25.3 C4.2,25.3 0.1,20.4 0.1,13.6 C0.1,6.9 4.9,1.5 12.2,1.5 C14.7,1.5 16.8,2 18.1,2.6 L18.1,6.1 C16.4,5.2 14.5,4.6 12.2,4.6 C7,4.6 4,8.6 4,13.4 C4,18.5 7.1,22.1 12,22.1 C14.2,22.1 16,21.5 17.6,20.5 L18.7,23.5 Z" id="path19_fill"></path><path d="M20.5,0 L24.2,0 L24.2,20.4 C24.2,21.6 24.6,22 25.4,22 C25.6,22 26.1,21.9 26.5,21.8 L27.2,24.6 C26.3,25 25.2,25.1 24.4,25.1 C21.8,25.1 20.6,23.8 20.6,21.4 L20.6,0 L20.5,0 Z" id="path20_fill"></path><path d="M37.5,23.2 C36.3,24.3 34.7,25.3 32.7,25.3 C29.5,25.3 27.3,23.2 27.3,20 C27.3,17.8 28.4,16.3 30.1,15.5 C31.2,14.9 32.7,14.7 34.3,14.6 L37.3,14.5 L37.3,13.8 C37.3,11.6 35.9,10.7 34,10.7 C32.2,10.7 30.7,11.2 29.6,11.9 L28.3,9.5 C30.3,8.4 32.4,7.9 34.6,7.9 C38.7,7.9 41,9.8 41,13.8 L41,20.2 C41,22.6 41.1,24 41.3,24.9 L38.1,24.9 L37.5,23.2 Z M34.8,17.1 C33.6,17.1 32.7,17.3 32.1,17.6 C31.3,18 31,18.7 31,19.7 C31,21.3 32.1,22.3 33.7,22.3 C35.4,22.3 36.7,21.3 37.3,20.7 L37.3,17 L34.8,17.1 Z" id="path21_fill"></path><path d="M43.3,8.3 L46.4,8.3 L46.8,10.2 C48.4,8.6 49.8,7.8 51.4,7.8 C52.1,7.8 53,8 53.6,8.4 L52.3,11.6 C51.7,11.2 51.1,11.1 50.5,11.1 C49.4,11.1 48.4,11.6 46.9,13 L46.9,24.9 L43.2,24.9 L43.3,8.3 Z" id="path22_fill"></path><path d="M63.3,23.2 C62.1,24.3 60.5,25.3 58.5,25.3 C55.3,25.3 53.1,23.2 53.1,20 C53.1,17.8 54.2,16.3 55.9,15.5 C57,14.9 58.5,14.7 60.1,14.6 L63.1,14.5 L63.1,13.8 C63.1,11.6 61.7,10.7 59.8,10.7 C58,10.7 56.5,11.2 55.4,11.9 L54.1,9.5 C56.1,8.4 58.2,7.9 60.4,7.9 C64.5,7.9 66.8,9.8 66.8,13.8 L66.8,20.2 C66.8,22.6 66.9,24 67.1,24.9 L63.9,24.9 L63.3,23.2 Z M60.5,17.1 C59.3,17.1 58.4,17.3 57.8,17.6 C57,18 56.7,18.7 56.7,19.7 C56.7,21.3 57.8,22.3 59.4,22.3 C61.1,22.3 62.4,21.3 63,20.7 L63,17 L60.5,17.1 Z" id="path23_fill"></path></g></g></svg>
  </div>
  <div class="c-topbar__connect" data-role="<%= current_user.role %>">
    <strong><%=current_user.email%></strong>
    <div><%= link_to 'Se déconnecter', sign_out_path, method: :delete, class: "js-sign-out"  %></div>    
  </div>
</div>

<nav class="navigation" role="navigation">


  <% if current_user.role === "superadmin" %>
    <%= link_to(
      "Rubriques",
      admin_contract_types_path,
      class: "navigation__link navigation__link--#{nav_link_state('contract_types')}"
    ) %>      
  <% end %>
  <%= link_to(
    "Aides",
    admin_aids_path,
    class: "navigation__link navigation__link--#{nav_link_state('aids')}"
  ) %>      
  <% if current_user.role === "superadmin" %>
    <%= link_to(
      "Filtres",
      admin_filters_path,
      class: v.filter_clazz
    ) %>    
  <% end %>
  <%= link_to(
    "Administration", 
    admin_get_hidden_admin_path,
    class: v.admin_clazz
    ) %> 
  <%= link_to(
    "Suggestions d'amélioration",
    admin_feedbacks_path,
    class: "navigation__link navigation__link--#{nav_link_state('feedbacks')}"
  ) %>    
  <%= link_to(
    "Rappels",
    admin_recalls_path,
    class: "navigation__link navigation__link--#{nav_link_state('recalls')}"
  ) %>    
  
</nav>
